[2016-10-05 09:26] ppatierno opened #1 "Add SSL/TLS support"

[2016-10-19 13:30] ppatierno opened #2 "Add support for running the server in verticles"

[2017-01-05 14:39] ppatierno commented on #1
Closed on behalf of 1d9298fea49e5b0ae118cb5508c7196d754607e1

[2017-01-05 14:39] #1 closed

[2017-01-05 14:40] ppatierno opened #4 "Add examples and documentation for SSL/TLS support"

[2017-01-16 13:22] tulinski opened #5 "WebSocket support"
It would be great to have vertx-mqtt-server supporting WebSockets.
Are there plans to add WebSocket support in the near future?
Is it a difficult task?

[2017-01-19 10:58] ppatierno opened #6 "Add back-pressure support"
MQTT doesn't have flow control but back-pressure support can be added at TCP level (as Vert.x websocket implementation)

[2017-01-21 19:41] ppatierno commented on #4
Closed on behalf of 6f4a907989a0555b5854d97f6ed9d9b872d9cb77

[2017-01-21 19:41] #4 closed

[2017-01-21 19:41] ppatierno commented on #2
Closed on behalf of d23628d76457225f27a2e5dfa915d91c54c783cc

[2017-01-21 19:41] #2 closed

[2017-01-23 16:43] ppatierno opened #8 "Add test case for "Wrong message type""
In order to test the "Wrong message type" case in the MqttConnection class we need to send a poisoned MQTT packed with an unknown message type.

[2017-02-03 12:18] codepitbull commented on #6
This one is pretty essential. It's pretty common to apply backpressure as there are often peaks in data arriving, at least from what we saw in the last projects.

It's important to take the different QoS-levels into account as 0 basically doesn't need backpressure as things can be discarded if yonsumers can't keep up.

It's a l lot more tricky for 1 and 2.

[2017-02-04 07:28] codepitbull opened #9 "NullPointer when message couldn't be parsed"
There is a problem in MqttServerImpl when the incoming message couldn't be parsed.
In safeObject right after `if (msg instanceof io.netty.handler.codec.mqtt.MqttMessage)` there is the following statement: `switch (mqttMessage.fixedHeader().messageType())` it accesses the message content without evaluating MqttMessage.decoderResult first. As all elements of a message are empty in case of a decoding

[2017-02-04 11:08] ppatierno commented on #9
Fair enough thanks ! Do you have a test case for that ? Did it happen to you during the MQTT server usage ?

[2017-02-04 13:00] codepitbull commented on #9
We are currently using it from Unity (m2mqtt, I guess you know the library ;) ). There we generated a UUID as clientidentifier. Under the hood that caused `invalid clientIdentifier: 20c41644-2166-4098-ab11-16a7b0384b4e`. So creating a message with that clientIdentifier should be a good reproducer.
I hope to work a little more on this but I am currently on the road.

[2017-02-04 16:03] ppatierno commented on #9
Fixed by 1f582292e7027407cb3715bb5e4a385337847a3c

[2017-02-04 16:03] #9 closed

[2017-02-23 19:18] killerwhile opened #10 "Maximum msg payload is fixed to 8KB"
`MqttServerImpl` instanciate `MqttDecoder` from `netty-codec-mqtt` library without parameters, which fixes the max possible message payload to 8092 (bytes) (seed https://github.com/netty/netty/blob/4.1/codec-mqtt/src/main/java/io/netty/handler/codec/mqtt/MqttDecoder.java#L64)

This might be a problematic limitation in some use-cases so mqtt-server should have an option to change this limit.

I'd p

[2017-02-23 19:49] ppatierno commented on #10
Thanks @killerwhile ... I'll take a look at this. It's even important for an issue reported in the Eclipse Hono project here : https://github.com/eclipse/hono/issues/97

[2017-02-24 08:58] ppatierno commented on #10
Using the NetworkOptions.receiveBufferSize refers to the max size of the entire MQTT packet.
The max size in the Netty MQTT codec is related to the variable header and payload part; it doesn't take into account the fixed header that could vary from 2 to 5 bytes (because the remaining length can be from 1 to 4 bytes). This bytes should be considered as part of the MQTT packet in order to refer as "

[2017-02-24 09:12] killerwhile commented on #10
Thanks for the other pointer.
I do agree on having a more MQTT payload specific option, while we should ensure that they are somehow aligned (i.e. if NetworkOptions.receiveBufferSize is smaller than max MQTT payload, we should raise a warn)

[2017-02-24 09:19] ppatierno commented on #10
Yes of course ... agree. I'll go in this direction. Thanks for reporting this issue. I'll update you as soon as possible ;)

[2017-02-26 14:06] ppatierno commented on #10
I'm closing it on behalf of 89bfdde46de8a188d0a7830917b45b7073e1312a

[2017-02-26 14:06] #10 closed

[2017-02-27 15:31] tosheer opened #11 "Message not reaching topic subscribers."
I know you are still doing active development but i was evaluating this module, but i am facing an issue when any publisher send a message to the subscribers. Subscribers are not getting any message.

[code]

So When i am publishing any message from MQTT client to a topic. I can see the publish handler is getting invoked, but messages are not reaching the MQTT client which are subscriber to the sa

[2017-03-10 06:47] ppatierno opened #12 "Add handling client with "zero length" client-id"
In this case the server MUST check that clean session is true otherwise refuses connection.
If it can accept connection, a unique client-id must be generated and assigned to the endpoint.

[2017-03-10 06:50] ppatierno opened #13 "Consider usage of new MqttMessageBuilders from Netty"

[2017-03-10 15:26] ppatierno commented on #12
Closing on behalf of c64a5417f364b8b66c57d4b0807830bcab8daeb6

[2017-03-10 15:26] #12 closed

[2017-03-12 20:13] vietj opened #15 "Add an exception handler on MqttServer to be aware of error happening outside the MqttEndpoint"

[2017-03-12 20:16] #15 closed

[2017-03-12 21:24] ppatierno commented on #15
@vietj why this revert adding an exception handler ? Should we have a discussion or at least a PR to review before committing changes like this ?

[2017-03-12 22:20] vietj commented on #15
`Handler<AsyncResult<T>>` is a construct that can be called once and is similar to a method return or throwing an exception. In this case `Handler<T>` will be called for each new valid connection. So it is not the same semantic.

Furthermore, the user code is not much interested in invalid connections, these are discarded before reaching the handler. This behavior is the same for instance on an `H

[2017-03-20 17:15] ppatierno commented on #11
Hi @tosheer , this MQTT server is not a broker.
It just handles connections with remote MQTT clients at protocol level, provides events raised for that and methods for replying to the client. It's not supposed to store subscribers and then re-publish messages. You can build a broker on top of it :-)

[2017-03-20 17:15] #11 closed

[2017-03-29 12:25] krishnarb3 commented on #8
@ppatierno
I tried to create a MqttWrongMessageTypeTest but I'm stuck at publishing a message with unknown message type.
I tried using the same code as MqttBadClientTest class's createPublishMessage method but the MqttFixedHeader constructor requires a MqttMessageType. I am not able to set it as anything other than the ones in the enum.
Could you help me out? Thanks.

[2017-03-29 13:46] ppatierno commented on #8
my idea was not using the awesome encoding classes from Netty MQTT codec but just sends raw bytes. For example, the PINGREQ packet is just 2 bytes that are pretty simple to generate without the Netty MQTT codec but just reading the MQTT spec. For example, the PINGREQ has the second byte to 0 (remaining length) so for making it "bad" just put the first byte at 0 as well, because the first nibble (4

[2017-03-30 09:26] tulinski opened #18 "Respecting idleTimeout from MqttServerOptions (for disconnecting inactive clients)"
We are implementing a server app based on vertx-mqtt-server.
We would like to have a possibility of defining global idle timeout for incoming connections.
There already is setIdleTimeout method inherited from TCPSSLOptions, but idleTimeout field is not used while IdleStateHandler is being set.
MQTT 3.1.1 spec says: "Note that a Server is permitted to disconnect a Client that it determines to be in

[2017-04-11 12:55] RemusSino commented on #11
Hello @ppatierno . Can you elaborate on how would you implement a broker on top of it - just a simple one that would do forwarding of whatever message is published to it, to the subscribers?
Or maybe you can point to an example.
I'm thinking in general the broker would save the list of subscribers somehow and when a message is published, on the handler you iterate over the subscribers list and fil

[2017-04-21 09:20] sauthieg opened #19 "Expose peer certificates on MqttEndpoint"
Just like HTTP connection, when SSL client authentication is enabled, that's useful to grab the peer (client) certificates.

That information is available on `ConnectionBase`, but not exposed through the `MqttEndpoint` interface.

[2017-06-03 19:39] Sammers21 opened #23 "Default endpoint settings"
By default when sending SUBSCRIBE server doesn't respond with a SUBACK packet. To enable responding we need to execute:
[code]
and the same situation with a PUBLISH packet.

But according to MQTT spec 3.1.1. [Article 3.8.4 SUBSCRIBE Response](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/csprd02/mqtt-v3.1.1-csprd02.html#_Toc385349803): "when the Server receives a SUBSCRIBE Packet from a Client, the

[2017-06-05 15:57] ppatierno commented on #23
The MQTT server component is a server not a full broker. It means that it handles MQTT connections and coming messages providing the application all the API for replying to clients. It's up to the application sending the SUBACK after receiving the SUBSCRIBE message. An MQTT broker could be developed using this MQTT server. I added the auto ack on subscribe just as additional feature.

[2017-06-05 15:57] #23 closed

[2017-06-06 18:43] Sammers21 commented on #23
@ppatierno, may be "full broker" would be a great additional feature? :-D

[2017-06-06 19:29] ppatierno commented on #23
@Sammers21 there is already a Vert.x MQTT broker and some effort to move it using the Vert.x MQTT server https://github.com/GruppoFilippetti/vertx-mqtt-broker/issues/11

[2017-06-16 12:28] sauthieg opened #24 "Package as an OSGi bundle"
`vertx-mqtt-server` is not packaged as an OSGi bundle yet.

It needs to export everything except `internal` packages.

[2017-06-19 19:28] codepitbull opened #26 "exceptionHandler not used for lower level exceptions"
I am running into the following issue:
I am using the following simple MQTT-Verticle
`public class MqttVerticle extends AbstractVerticle{
  @Override
  public void start() throws Exception {
    Integer port = config().getInteger("mqttPort");

    System.out.println("STARTING "+port);
    MqttServer server = MqttServer.create(vertx);
    server.exceptionHandler(e -> {
      System.out.println("SER

[2017-06-26 06:55] #24 closed

[2017-06-29 07:28] ppatierno opened #27 "Add logging"
It's useful to have logging in the main parts of the server mainly printing messages which are sent and received by the server itself.

[2017-07-06 14:51] ppatierno opened #28 "Keep alive mechanism doesn't work"
If the client connects specifying a keep alive interval and it doesn't send new packets (at least the PINGREQ), the server doesn't disconnect the client. The idle mechanism provided by Netty isn't setup properly so no "idle" event on the socket is raised.

[2017-07-06 14:56] #28 closed

[2017-07-13 10:48] ioprotocol opened #30 "After a Network Connection is established how server to determine the connection is active?"
Hi, if  a Network Connection is established,but the client do not send a CONNECT packet , according to MQTT 3.1.1 specification, the server should close the Network connection after a reasonable amount of time, In this case, How to solve this problem?
I think should edit in here,
[code]
what do yo think about this ?

[2017-07-13 10:55] ppatierno commented on #30
With the latest commit, the idle handler was added for the PINGREQ/PINGRESP but that's true that it's injected only after the CONNECT packet. Good point ! I'll take a look at it ;)

[2017-07-13 14:39] ioprotocol commented on #30
Another question is in MqttConnection handleMessage, according to MQTT 3.1.1 specification,the server received first packet must be CONNECT packet, if not the Server should close the network connection and a network connection only permit to send CONNECT packet once, so in handleMessage I think should add a checkpoint like this:
[code]
Thanks for your reply!

[2017-07-14 20:53] Ngosti2000 opened #31 "MqttQos not there"
hi,
Am trying to publish a message but looks like MqttQos class/enum is not in the netty library anymore hence code can't compile.i have imported all the library but looks like its missing in the entire vertx stack

[2017-07-14 21:40] vietj commented on #31
can you send an email on vertx google group to discuss the problem ?

[2017-07-14 21:40] #31 closed

[2017-07-17 09:26] ioprotocol opened #32 "If the server need a CONNECT packet repetitions check"
does here need a CONNECT repetitions check like this?
[code]

[2017-07-17 16:24] ppatierno commented on #30
It's fixed on behalf of 35b43bfe65b22c21ae2ffcaea053f96c7dc94a3f

[2017-07-17 16:24] #30 closed

[2017-07-17 16:24] ppatierno commented on #32
Yes. Thanks for reporting. The second check can be done in the "switch/case" on CONNECT packet. I'll take a look to fix that.

[2017-07-17 20:55] LeeWong commented on #5
Any update on this question?

[2017-07-18 07:30] ppatierno commented on #32
I have investigated and it's not a real issue because all the handleXXXX methods have a checkConnected() which has this kind of check.

[2017-07-18 07:30] #32 closed

[2017-07-18 07:31] ppatierno commented on #5
For now there is no plan to support that. Maybe in the future, but nothing is planned.

[2017-07-18 10:48] ppatierno commented on #8
Added with 9d2f912997fd3b12f47cc8a2d432544cc23d6c5b
Btw it's disabled for now because it needs a change in Netty (see this my PR https://github.com/netty/netty/pull/6985)

[2017-07-18 10:48] #8 closed

[2017-07-19 01:23] ioprotocol commented on #32
@ppatierno All  handleXXXX methods have do this kind of check except handleConnect method not, because the handleConnect method have a little difference with other handleXXXX methods, Consider this situation: if a client send CONNECT packet twice within one net connection, of course this is not permitted by mqtt 3.1.1 specification for client, but the handleConnect method in MqttConnection class w

[2017-07-19 01:35] ioprotocol commented on #32
All handleXXXX methods have do this kind of check except handleConnect method not, because the handleConnect method have a little difference with other handleXXXX methods, Consider this situation: if a client send CONNECT packet twice within one net connection, of course this is not permitted by mqtt 3.1.1 specification for client, but the handleConnect method in MqttConnection class will create a

[2017-07-19 03:54] freeseawind opened #33 "Sends multiple connection control packet throw error [MQTT-3.1.0-2]"
The client sends multiple connection control packet, server through follow exception:
Unhandled exception java.lang.IllegalArgumentException: Duplicate handler name: idle

May be add the following code in MqttConnection.java

  synchronized void handleMessage(Object msg) {
   ..........
      switch (mqttMessage.fixedHeader().messageType()) {

        case CONNECT:

         if(endpoint == null ||

[2017-07-21 08:54] ioprotocol opened #34 "The question of CONNECT packet check"
All handleXXXX methods have do this kind of check except handleConnect method not, because the handleConnect method have a little difference with other handleXXXX methods, Consider this situation: if a client send CONNECT packet twice within one net connection, of course this is not permitted by mqtt 3.1.1 specification for client, but the handleConnect method in MqttConnection class will create a

[2017-07-25 14:56] ppatierno opened #39 "Add a closeHandler to the client"
It could be useful to have the possibility to pass an handler to the client which is called when the connection is closed. In MQTT it can happen that the server closes the connection for different reasons so it's important to have the client being notified about that.

[2017-07-25 14:57] ppatierno commented on #39
@Sammers21 can you work on that proposing a PR ?

[2017-07-25 16:32] Sammers21 commented on #39
@ppatierno , sure

[2017-07-26 14:19] #39 closed

[2017-07-30 18:03] dachaac commented on #33
http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718028:
"A Client can only send the CONNECT Packet once over a Network Connection. The Server MUST process a second CONNECT Packet sent from a Client as a protocol violation and disconnect the Client [MQTT-3.1.0-2]"

But I believe there should not be exception thrown in this case.

[2017-07-31 18:18] Sammers21 commented on #33
I have just reproduced the error. Here is a full log with stacktraces:
[code]
The reproducer can be found [here](https://github.com/Sammers21/vertx-mqtt-client-example/tree/reporoduce_vertx_mqtt_server_problem).

Raw log: https://pastebin.com/raw/CSSiv5zA

[2017-07-31 18:26] Sammers21 commented on #33
There are two exceptions: *java.util.NoSuchElementException: idle* and *java.util.NoSuchElementException: timeoutOnConnect*.

So, it seems that @freeseawind faced a different from these two ones.

@freeseawind can you provide a reproducer?

[2017-08-01 02:32] freeseawind commented on #33
vertx-mqtt not found in the maven repository

[2017-08-01 05:11] Sammers21 commented on #33
@freeseawind you are right, there is no such artifact in maven central, but you can build artifact locally in this way:
[code]

So, with reproducer, I provided the exception is not java.lang.IllegalArgumentException right? If so can you provide the full log(something like this https://pastebin.com/raw/CSSiv5zA)? It would be very useful.

[2017-08-01 06:38] freeseawind commented on #33
八月 01, 2017 2:32:14 下午 io.vertx.core.impl.ContextImpl
严重: Unhandled exception
java.lang.IllegalArgumentException: Duplicate handler name: idle
	at io.netty.channel.DefaultChannelPipeline.checkDuplicateName(DefaultChannelPipeline.java:1062)
	at io.netty.channel.DefaultChannelPipeline.filterName(DefaultChannelPipeline.java:293)
	at io.netty.channel.DefaultChannelPipeline.addBefore(DefaultChannelPipe

[2017-08-01 06:41] freeseawind commented on #33
Here is full log with stack traces https://pastebin.com/raw/htLrvHTj

[2017-08-01 08:09] Sammers21 commented on #33
@freeseawind, it seems that you are using vertx-mqtt-server:3.4.2. I even found the line where error occurs: https://github.com/vert-x3/vertx-mqtt/blob/9d46fa89ab9181c728e565724390f3c09e5525c7/src/main/java/io/vertx/mqtt/impl/MqttConnection.java#L232

Such situation will not happen in vertx-mqtt:3.5.0.Beta1, but there are any other issues which can happen like *java.util.NoSuchElementException: id

[2017-08-02 07:53] ppatierno commented on #34
It should be fixed by 322f9e3b756b28d2335ceff053898ef1dbcce56b

[2017-08-02 07:53] #34 closed

[2017-08-02 07:53] ppatierno commented on #33
It should be fixed by 322f9e3b756b28d2335ceff053898ef1dbcce56b

[2017-08-02 07:53] #33 closed

[2017-08-10 11:39] vietj opened #45 "Rename client unsubscribeCompleteHandler to unsubscribeCompletionHandler"
usually we use the terminology _completionHandler_ , e.g `MessageConsumer#completionHandler`

[2017-08-10 11:42] vietj opened #46 "Overload client connect method with method that takes host and port parameter"
So one can simply write:

`client.create(port, host, ch -> { ... })`

[2017-08-14 16:24] ppatierno commented on #45
so it should be the same for `publishCompleteHandler` and `subscribeCompleteHandler`. I'm going to do that.

[2017-08-14 16:44] ppatierno commented on #45
@vietj I did this for the client with this commit 905ef337601641ea0c4e43de880a074c9daac6de.
There is something similar with the server, should I change it as well ? It will be a breaking change in this case.

[2017-08-14 16:46] ppatierno commented on #46
@vietj do you mean `client.connect` in the example right ?

[2017-08-14 18:56] vietj commented on #46
yes indeed

[2017-08-14 18:57] vietj commented on #45
@ppatierno yes but we are in tech preview, so it is ok-ish, we just need to record it in the wiki page that records the breaking changes for 3.5 : https://github.com/vert-x3/wiki/wiki/3.5.0-Breaking-Changes

[2017-08-15 08:33] ppatierno commented on #45
Committed latest changes 5a7372f7517ba74b2fe209a6ced2722e4b650f4c and updated the braking changes page.

[2017-08-15 08:33] #45 closed

[2017-08-15 09:15] ppatierno commented on #46
Done 16f696673c0af1780876debd94e55954ed273c49

[2017-08-15 09:15] #46 closed

[2017-08-15 09:27] vietj opened #47 "Client SNI support"
currently it seems that the client does not have support for SNI server name when connecting to a server.

[2017-08-16 08:16] ppatierno commented on #47
I added them for client and the SNI enablement on the server side.

[2017-08-16 08:16] #47 closed

[2017-08-16 08:55] ppatierno opened #48 "Changing client connect API"
We should change the way used today about specifying server host and port to connect (and with latest changes even the SNI server name as well).
They should be just parameters of connect method overloads and should not live inside the MqttClientOptions.
My idea is to remove them from such options that should have only MQTT strictly related options.
Wdyt @vietj @Sammers21?

[2017-08-16 09:02] vietj commented on #48
In HttpClient/NetClient we do have default host and port because the same client can reused to connect.

MQTTClient on the contrary does not have notion of _connection_. Perhaps it should ?

[2017-08-16 09:09] ppatierno commented on #48
What do you mean with "the same client can reused to connect" ? Where are these default host and port ? Can you elaborate a little bit more ?

[2017-08-16 09:31] Sammers21 commented on #48
@ppatierno, I think that the idea makes sense.

[2017-08-16 10:29] vietj commented on #48
@ppatierno with `NetClient` you typically do

[code]

[2017-08-16 10:35] ppatierno commented on #48
@vietj got it ... I think that with a `NetClient` it makes more sense because you write raw bytes on the TCP connection so you work with a `NetSocket`. With the MQTT client you work with higher level API for publishing data, for subscribing to topic, etc ... I think that the current way is more usable.

[2017-08-16 14:59] ppatierno commented on #48
I'm going to close with #49

[2017-08-16 14:59] #48 closed

[2017-08-27 14:55] Andy320 opened #50 "When will this feature be realeased？"
I find it has been now in tech preview for a long time. Thanks.

[2017-08-27 16:33] Sammers21 commented on #50
@Andy320, what do you mean by "this feature"?

[2017-08-29 07:21] Andy320 commented on #50
@Sammers21 Sorry for my late response. I mean "vertx-mqtt" is in tech preview period, I am looking forward to it being released.

[2017-08-29 07:41] Sammers21 commented on #50
@Andy320, I think that @ppatierno or @vietj have some consideration about it.

But, anyway, it is available in maven central, so you can try to use it and leave your feedback.

[2017-08-29 08:00] vietj commented on #50
@Andy320 I think that the mqtt server code is now mature but the mqtt client code will be under tech preview for at least one release

[2017-08-29 10:53] Andy320 commented on #50
ok. Thanks a lot.

[2017-08-29 10:53] #50 closed

[2017-08-29 19:41] AGutan opened #51 "Username/Password Authentification [Question]"
Simple question.

A bit confused :)
For what purpose does the client provide the username and password?
Does the client sign up at first login?
Who provides the username and password?
Or should I randomly generate 2 strings as the username and password for each client?

[2017-08-31 12:42] ppatierno commented on #51
It's a question related to MQTT protocol and not specific for this project.
Username/Password provides a way for authentication with MQTT protocol and how it works depends on the broker implementation. A broker could have an ACL where clients are allowed to send/receive to/from some topic only after authentication with different rights.
If your question is related to the client, what you have to p

[2017-08-31 12:44] ppatierno opened #53 "Develop the persistence and recovery for "in flight" messages queues"
The client should be able to persist the "in flight" messages queues (QoS 1 and 2) in order to recover them after coming back online (due to a previous disconnection).

[2017-08-31 15:24] #51 closed

[2017-09-02 15:30] Sammers21 commented on #53
I can work on that. But before should discuss it.

Let's start with a simple case:

1. The client was connected with a server and he just has some messages in queues.
2. And then client was instantly disconnected from the server

And now there are some question to discuss: _What should be done next?_

I would propose that a user should:

1. catch closing a connection through a _closeHandler_
2. ca

[2017-09-03 15:25] ppatierno commented on #53
Great ! :-)

You can check here (http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.pdf) how the client session works and it's based on the "clean session" flag sent within the CONNECT packet.

[2017-09-05 10:55] AGutan opened #55 "Vert.X MQTT Router"
What is your opinion on adding a Router for handling MQTT messages from clients?

Something very similar to the Vert.X Web Router.

[code]

I think it will add a ton of convenience instead of manually handling every published message.

My use case requires an API, but I prefer MQTT instead of HTTP since it is IoT based.

[2017-09-05 11:07] ppatierno commented on #55
I really think that it's a cool idea !
What I'm concerned on your example is the "non" standard way to have parameters on the MQTT topic (i.e. :deviceId). It's not something defined by the MQTT spec and I'd like to have the component more MQTT compliant. It means that the only thing that a `routingContext` could expose should be the underlying MQTT message.
Do you think to work on a proposal for t

[2017-09-05 11:21] AGutan commented on #55
@ppatierno sure. My project kind of requires this functionality anyway, so I'll work on that and submit a pr. Also, what about wildcards? As descibed [here](http://www.hivemq.com/blog/mqtt-essentials-part-5-mqtt-topics-best-practices) I'm particularly interested in single-level "+" wildcards and to be able to get the value of the single-level wildcard. What do you think?

[2017-09-05 12:37] ppatierno commented on #55
Good to know, waiting for your PR ! :)
Regarding the wildcard feature can you give me an example of what you need ? Remember that wildcard works only on the subscription side and not on publishing side. Only a subscriber can specify a topic like "foo/+/bar" or "/foo/#" but a publisher can publish only to a well defined topic i.e. "foo/a/bar" (and not to "foo/+/bar")

[2017-09-05 13:07] vietj commented on #55
@pmlopes as we do have a new implementation of router for vertx-web wouldn't it make sense to share common bits with this forthcoming router ? i.e have a component like vertx-uri-router

[2017-09-05 13:34] AGutan commented on #55
@ppatierno
yes the client will publish to a well defined topic.

suppose the route definition is like this:
`Route fooBarRoute = router.route().path("foo/+/bar");`

and a client publishes a message on the topic "foo/whatever/bar"

I want to get the value of the + in a variable. In the above case the value of the wildcard is "whatever".

But if the route is

`Route fooBarRoute = router.route().path

[2017-09-05 13:38] ppatierno commented on #55
As I said I don't agree on having a non standard MQTT support for this feature.
The ":param1" syntax isn't defined by the MQTT standard and I'd like to have the component to be compliant with the specification. From the routingContext you will have the published topic isn't it enough for you for getting the value of "x" and "y" ? I know that it could be simpler with your idea but it's not somethin

[2017-09-05 13:47] AGutan commented on #55
@ppatierno ok let's follow the standards. Then I'll implement the wildcards like this

`Route fooBarRoute = router.route().path("foo/+/bar");`

and if there is need to get the value of the wild card, one will need to split the topic name

[2017-09-06 07:54] AGutan commented on #55
@vietj could you make a separate package for the router files from the vertx-web? A common router package that will be used in vertx-web and vertx-mqtt. I think I've done the most part of the MQTT Router, but I've added the entire vertx-web to my vertx-mqtt. I'll update the new router package with the changes I made.

[2017-09-06 07:57] vietj commented on #55
@AGutan that's something we need to discuss with @pmlopes and see how best we can address this

[2017-09-06 13:51] AGutan commented on #55
@vietj @pmlopes any updates on this?

[2017-09-11 15:26] vietj opened #60 "MqttAuth and MqttWill as DataObject"
is there a reason these classes couldn't be data object ?

they just contain data and don't have specific behavior.

[2017-09-17 11:53] ppatierno commented on #60
no reasons :-) I guess a lack of knowledge on my side when I started to use Vert.x with this project. I'm working on changing them.

[2017-09-17 12:02] ppatierno commented on #60
@vietj Starting with `MqttAuth` I get this error on building :

SEVERE: io.vertx.codegen.CodeGenProcessor - Could not generate model for io.vertx.mqtt.MqttEndpoint#auth(): type io.vertx.mqtt.MqttAuth is not legal for use for a return type in code generation
io.vertx.codegen.GenException: type io.vertx.mqtt.MqttAuth is not legal for use for a return type in code generation

Isn't it possible to use

[2017-09-21 13:57] vietj commented on #60
the data object needs to have a `public JsonObject toJson() { ... }` method

[2017-09-23 13:19] ppatierno commented on #60
Fixed with https://github.com/vert-x3/vertx-mqtt/pull/61

[2017-09-23 13:19] #60 closed

[2017-10-04 12:32] Sammers21 opened #63 "Problem with an example of code translation into ruby/js/kotlin/groovy"
Take a look at the penultimate example of **ruby/js/kotlin/groovy** MQTT client usage code at documentation.

During the `compile` maven goal execution such error occurs when generating sources for **ruby/js/kotlin/groovy**:
[code]

How can it be fixed?

[2017-10-17 20:47] Sammers21 opened #64 "Building PR branches"
I think that it is a very cool when you can see that all works(or not) directly on a PR page. So having something like that:
![image](https://user-images.githubusercontent.com/16746106/31688593-7c1d23ca-b395-11e7-90b8-e5386fe64e5e.png)

Is it possible to configure building of each PR and attaching of the build results?

Related discussion in Google Groups: https://groups.google.com/forum/#!topic/v

[2017-10-17 22:07] vietj commented on #64
as said in the google groups, @tsegismont will investigate it on the current Jenkins CI.

[2017-10-22 09:15] vietj opened #65 "Module name should be vertx-mqtt and not vertx-mqtt-server"
Current we have

[code]

which generates code which an invalid package for javascript and ruby

[2017-10-22 09:18] #65 closed

[2017-11-05 15:51] vietj commented on #19
I'm assuming this was released in 3.4.2 ?

[2017-11-05 19:20] sauthieg commented on #19
No, there is still an ongoing PR (#42) hold by @dachaac about SSL API exposure: so not in 3.4.2, not even in 3.5.0 ...

Originally, I was only interested in an API to get the client certificates, but #42 is a little bit richer than that.

[2017-11-14 08:55] ctron opened #66 "MqttClient seems not to re-connect automatically"
The `MqttClientOptions` do have a field `reconnectAttempts`, but it seems as if this field is not actually used and the client does not automatically re-connect.

[2017-11-14 09:24] ctron opened #67 ""Uh oh! Event loop context executing with wrong thread!""
Under some conditions (connections breaking up with multiple clients) I do receive the following log messages:

[code]

[2017-11-14 11:41] Sammers21 commented on #66
Hi @ctron , actually automatic reconnection is not supported yet. But you can implement it with MqttClient#closeHandler. The field in `MqttClientOptions` is useless.

If you'd like to fix it - feel free to contribute

[2017-11-14 11:43] Sammers21 commented on #67
Hi @ctron , do you have a reproducer? It would helps

[2017-11-14 13:30] ctron commented on #66
Well it can't be implemented 100% with the close handler as it looks to me.

When the connection succeeds, then the close handler will be called. However when the initial connection doesn't succeed, only the Future is completed with a failure:

[code]

However, listening to the result of the future for a failure is not possible, because in this case you will also be noted over the closeHandler _an

[2017-11-14 19:40] vietj commented on #67
@ctron are you sharing a client or an mqtt connection between verticles ?

[2017-11-14 19:41] vietj commented on #67
a reproducer would be welcome indeed

[2017-11-15 07:18] Sammers21 commented on #66
That is a great idea and as a benefit, it would be way more easy to implement 100% reconnection. But, there is the other side... to call _closeHandler_ when we failed in the attempt to establish TCP connection. I think and it logical to not call _closeHandler_ when a connection has not been established yet so we have just nothing to close.

[2017-11-15 07:18] Sammers21 commented on #66
Btw, @ppatierno, what do you think about it?

[2017-11-15 07:58] ctron commented on #66
Well if you don't call the closeHandler when it was not connected, then you can't implement re-connect that way. But if you always do call the closeHandler, then you can check locally (in your state) if you had a successful connection before.

The most important thing might be some proper documentation in the javadoc to explain this. If this is all that it needs, I am happy to amend the PR for mor

[2017-11-15 08:33] ctron commented on #67
Sorry, I don't have a real reproducer. I do use around 100 MqttClient instances towards an MQTT server.

I will try to create one. The issue manifested when I started to connect with 100 instances towards an MQTT server which couldn't handle the load and rejected connection attempts.

[2017-11-16 17:34] vietj commented on #66
keep in mind that Vert.x NetClient already supports connect retries when the connection fails (not when it is disconnected as this is protocol related)

[2017-11-16 17:53] ctron commented on #66
But I did understand @Sanmers21 that this is not supported with the MQTT client.

[2017-11-18 17:44] ppatierno commented on #66
At TCP level the retries on connection failures work (thanks to the underlying `NetClient`). If you set the `reconnectAttempts` in the `MqttClientOptions` and try to connect to the server when it's not listening at all, you can see the SYN RST ACK sequence more times (the number of attempts) so it means that the `NetClient` is re-trying connection at TCP level. I guess that what you want is a reco

[2017-11-19 08:37] vietj commented on #66
@ppatierno that's my opinion too, reconnection on an established socket is only possible if it makes sense for the protocol, I don't know about MQTT

[2017-11-20 08:37] ctron commented on #66
As a user of `MQTTClient` I don't want to distinguish between TCP and MQTT layer when I configure `reconnect`. If my desire is to "keep the MQTT connection open", then I would expect the client to take care of that and re-establish a connection on the TCP and MQTT layer for me.

If that is not supported by the `MQTTClient` (which is ok to me), then I would expect the documentation of `setReconnect

[2017-11-20 14:05] ppatierno commented on #66
@ctron I totally agree with you. The re-connect feature at TCP level comes from the underlying `NetClient` so it was already there. The current `MQTTClient` doesn't provide an out-of-box reconnect feature and I agree that it's a missing point.

[2017-11-20 14:10] vietj commented on #66
that being said, it could be simply implemented with a close handler that reconnects when it is called.

[2017-11-20 14:13] ppatierno commented on #66
@vietj this is what @ctron is trying to achive but even providing the #69 PR because the `closeHandler` isn't called when TCP connection isn't established. I have some doubts about that for the meaning of the `closeHandler` ... a connection was closed which is not true when a connection isn't established.

[2017-11-20 15:24] vietj commented on #66
I think that you don't need to do that, because vertx NetClient already takes care of re-connect failures, so you only need to handle the case when the connection is closed after being established

[2017-11-20 15:33] vietj commented on #66
overall I'm wondering if that would not make sense to have an MQTT connection pool that would perform reconnect in such situations

[2017-11-21 16:22] ppatierno commented on #66
It's clear that it's not an issue but just a missing feature, I'm going to close this one.

[2017-11-21 16:22] #66 closed

[2017-12-07 14:57] ctron opened #72 "Mqtt Client doesn't close connection when there is no reploy to CONNECT"
Assuming the following happens:
* TCP connect is OK
* Client sends CONNECT
* Waits for CONACK

If the CONACK never is received by the client, but still the TCP connection remains open, then MQTT Client never reports back.

[2017-12-07 15:17] vietj commented on #72
would a TCP idle timeout work in this case ?

[2017-12-08 09:13] ctron commented on #72
No. As by default a TCP keepalive timeout still is somewhat around two days IIRC.

[2017-12-08 12:58] Sammers21 commented on #72
@ctron, do you think we should have something like "timeout of CONNACK" right?

[2017-12-08 13:05] ctron commented on #72
I guess so. Maybe there already is a communication idle timeout on which the client disconnects which could be re-used.

[2017-12-08 13:13] abasher opened #73 "Typo in the java docs: 'publishRelease' is used in place of 'publishReceived'"
In java doc ([index.adoc](https://github.com/vert-x3/vertx-mqtt/blob/master/src/main/asciidoc/java/index.adoc#handling-client-published-message)) in **Handling client published message** paragraph it is mentioned that *`publishReceived`* needs to be used for Qos of `EXACTLY_ONCE` but in the code block *`publishRelease`* is used instead.

[2017-12-08 13:31] Sammers21 commented on #73
@abasher, It seems that you are right. Would you mind to fix it?

[2017-12-08 13:45] abasher commented on #73
sure, just submitted a pull request

[2017-12-08 14:02] ppatierno commented on #73
@abasher thanks ! I have just reviewed it, please take a look ;)

[2017-12-08 14:11] vietj commented on #72
does MQTT have PING message ?

[2017-12-08 14:12] vietj commented on #72
@ctron there is not such timeout because it's protocol dependant (like PING frames for websocket, HTTP/2, etc...)

[2017-12-08 14:16] ppatierno commented on #72
@ctron as @vietj said maybe it's something related to the PINGREQ/PINGRESP at MQTT level. If the CONNACK packet is "lost", the MQTT server should then closes the connection if it doesn't receive the PINGREQ in the timeout specified in the CONNECT packet. What's the broker you are using with the MQTT client. It's also true that the keepalive mechanism can be disabled (if timeout is set to 0 in the

[2017-12-08 14:19] ppatierno commented on #72
@ctron but it's also true that MQTT 3.1.1 says the following :

so it's something that we don't have in the current MQTT client :-(

[2017-12-08 14:20] vietj commented on #72
we should use PINGREQ/PINGRESP with a timeout to create an hearbeat to handle this case

[2017-12-08 14:22] ppatierno commented on #72
@vietj I don't think that using the PING mechanism is the right solution just because as I said it can be disabled (keep alive = 0 in the CONNECT packet) so it means that client and server DON'T HAVE TO exchanged PINGREQ/PINGRESP.

[2017-12-08 14:41] abasher commented on #73
Ah, didn't notice docs are auto generated :). Submitted a new pull request.

[2017-12-08 14:44] ppatierno commented on #73
Just merged ! Thanks !

[2017-12-08 14:44] #73 closed

[2017-12-09 16:53] Sammers21 commented on #53
@ppatierno, what do you think about the #57 PR?

[2017-12-28 17:48] Sammers21 opened #76 "checking for memory leak when connect fails"
Hi,

According to [this issue](https://github.com/vert-x3/vertx-redis-client/issues/97), i have decided to check is there any memory leak in cases when an attempt at establishing a connection is getting failed.

Here is a reproducer:
[code]

While running this code I was tracking a heap size. Here is how it was changing during the reproducer execution:

![image](https://user-images.githubuserconte

[2017-12-28 17:49] Sammers21 commented on #76
cc @vietj , @ppatierno

[2017-12-28 17:52] Sammers21 commented on #76
@vietj, is the reproducer is correct?

[2018-01-08 07:00] Mahaswami opened #77 "Client Interoperability between Paho and Vertx: Multi level topics"
Great to see MQTT additions to Vertx, Thank you.

We seem to have a issue with client side interoperability. For the server we do use https://github.com/GruppoFilippetti/vertx-mqtt-broker (latest)

* Paho Java client version 1.2.0
* Vertx Java client version 3.5.0

### Multi level topic subscription with # wildcard (Example xxx/report/new/#)

Note: Message sent to xxx/report/new/123

1. Paho to Pa

[2018-01-08 07:11] vietj commented on #77
can you provide a reproducer @Mahaswami for what you are observing ?

[2018-01-08 08:24] Mahaswami commented on #77
@vietj  Thank you for looking into this.  Here are the specific test files. I did not include the MQTT Broker which just needs to be running in OOTB configuration and the host names need to be modified in the Maven projects.

[vertx_mqtt_test.zip](https://github.com/vert-x3/vertx-mqtt/files/1610914/vertx_mqtt_test.zip)
[paho_test.zip](https://github.com/vert-x3/vertx-mqtt/files/1610915/paho_test.z

[2018-01-08 09:52] vietj commented on #77
can you rather provide it as a simple github project that anyone can run to reproduce ?

[2018-01-08 10:21] Mahaswami commented on #77
@vietj Sorry I have put the above in github as below and each contains a Readme.txt. BTW, it is pretty much stripped down code. Nothing else really in it.

https://github.com/Mahaswami/paho_mqtt_client_demo
https://github.com/Mahaswami/vertx_mqtt_client_demo

To reproduce the behaviour I mentioned here is what is needed:

1. Run Paho client demo standalone. You should see a message sent by self co

[2018-01-08 10:23] Mahaswami commented on #77
@vietj please let me know if something I had missed out in making this easy to reproduce. Thank you for taking the time to look into this.

[2018-01-08 11:18] Sammers21 commented on #77
@Mahaswami, I tried to simplify your example... so without auth in paho example and unused code.

Here is what I just created: https://github.com/Sammers21/vertx_paho_mqtt_demo.

And what I observed... it just works fine:
![image](https://user-images.githubusercontent.com/16746106/34668450-8a5bcee4-f47e-11e7-9b33-e27f1559ba85.png)

Can you take a look at my reproducer and make a respond - it is co

[2018-01-10 12:46] vietj commented on #67
any news about this ?

[2018-01-11 14:11] vietj commented on #77
this issue seems to have been opended in other places and it does not seem to be a real issue - I'm closing it

[2018-01-11 14:11] #77 closed

[2018-01-15 08:22] ctron commented on #67
No from my side. I didn't find any time to create a usable reproducer focusing on this error. But it still happens to me when the MQTT server of my demo is gone.

[2018-01-15 09:10] vietj commented on #67
can you share this demo ?

[2018-01-15 09:17] ppatierno commented on #67
even if the complete demo, is it possible to extract and isolate the main part and making it runnable against an MQTT server ?

[2018-01-15 09:42] vietj commented on #67
lol, no

[2018-01-16 08:15] ctron commented on #67
@ppatierno I will need to make a new test publisher this week anyway, I will try to make this a reproducer  for this issue as well.

[2018-01-16 08:18] ppatierno commented on #67
@ctron it would be really helpful ! Thanks !

[2018-01-18 13:31] ctron opened #78 "Using `setIdleTimeout` causes duplicate filter exception"
Setting the idle timeout for a client using:

[code]

Causes the following exception:

[code]

[2018-01-18 15:23] Sammers21 commented on #78
I see the problem: by default NetClient put IdleStatehandler into pipeline if _idleTimeout_ option is specified:
 https://github.com/eclipse/vert.x/blob/master/src/main/java/io/vertx/core/net/impl/NetClientImpl.java#L102

I think that _setIdleTimeout_ do the same thing as _setKeepAliveTimeSeconds_ so we can remove _setKeepAliveTimeSeconds_ or override _setIdleTimeout_ in a way to do the same as _s

[2018-01-18 15:24] Sammers21 commented on #78
@ppatierno, what do you think?

[2018-01-18 15:39] Sammers21 commented on #78
I have just submitted a quick fix for it

[2018-01-18 15:50] vietj commented on #78
as precaution I think that the code should be more protective and set the idle timeout option to `0` when constructing the channel

[2018-01-18 15:51] vietj commented on #78
i.e :

this.client = vertx.createNetClient(options);

should copy the option and set idle timeout to 0 so we are sure not issue happens.

[2018-01-18 16:21] Sammers21 commented on #78
@vietj, good point, I have just added this changes to #79 PR.

[2018-01-18 16:48] ppatierno commented on #78
@Sammers21 @vietj I'm fine with the fix.

[2018-01-19 09:01] ppatierno commented on #78
Closed by #79

[2018-01-19 09:01] #78 closed

[2018-01-24 20:55] cleberlira opened #80 "Cannot connect to Vertx MQTT Server #1"
Hi,

i can not to connect to vertx mqqt server. See message:

java.lang.NoSuchMethodError: io.vertx.core.net.NetClient.connect(ILjava/lang/String;Ljava/lang/String;Lio/vertx/core/Handler;)Lio/vertx/core/net/NetClient;
[INFO] at io.vertx.mqtt.impl.MqttClientImpl.connect(MqttClientImpl.java:136)
[INFO] at io.vertx.book.message.HelloConsumerMicroserviceMqtt.start(HelloConsumerMicroserviceMqtt.java:34

[2018-01-25 07:30] vietj commented on #80
make sure you are using the same version of vertx-core and vertx-mqtt

[2018-01-25 07:30] #80 closed

[2018-01-26 12:51] vietj commented on #76
thanks for the investigation, I will close this issue. The vertx redis client has quite a peculiar behavior with the underlying NetClient implementation.

[2018-01-26 12:51] #76 closed

[2018-02-11 09:00] Ashye opened #81 "paho client in python won't work"
when i connect my paho client (in python) to vertx mqtt server, it always raise the same error:
[code]

[2018-02-11 09:08] lifengchuan2008 opened #82 "mqtt2kafka application run a deadlock for a period of time"
- vertx  3.5.0
- netty  4.1.8.Final

I have a problem，the mqtt to Kafka application receives 51 messages every 2 seconds after 20 hours of deadlock,

#### MqttService
[code]

#### KafkaService

[code]

vert.x-worker-thread-4      Mqtt subscribes to tiopic and accepts mqtt messages

 vert.x-eventloop-thread-1    The message received by mqtt is forwarded to Kafka

[code]

[2018-02-11 20:08] Sammers21 commented on #81
@Ashye, can you provide a reproducer and upload it on Github?

[2018-02-11 20:13] Sammers21 commented on #82
@lifengchuan2008, thank you for reporting this issue. Can you provide an "easy to run and ensure" reproducer?

[2018-02-12 06:39] lifengchuan2008 commented on #82
@Sammers21 ,thank you for your reply, I have put a reproducer at https://github.com/lifengchuan2008/mqttdeadlock.git

[2018-02-12 13:13] Sammers21 commented on #82
@lifengchuan2008, good. What is a prerequisite for running this reproducer? Can you add this information to a README file?

[2018-02-12 13:21] Sammers21 commented on #82
@lifengchuan2008, I also noticed that you are using Google Guice. It is great, but it would be better if you remove all non-related to this issue libraries like Google Guice. So what I am asking for is a minimal reproducible example.

[2018-02-19 07:49] vietj commented on #67
@ctron can you share your client configuration that might help to figure out

[2018-02-20 11:11] kirillkh opened #83 "Unsubscribe not working when there is more than 1 client"
I have two MqttClient's working at the same time (each one in its own verticle). I do the following:
1. subscribe to topic X in client A
2. unsubscribe from topic X in client A
3. subscribe to topic X in client B

The result is that both client A and B now receive all the messages to topic X. I verified in WireShark that only one copy of the packets actually come in from the broker.

[2018-02-20 11:23] ppatierno commented on #83
If you are saying that only one packet comes from the broker it's really strange that both clients gets the message. Can you provide the code for reproduce this issue easily (maybe a GutHub repo ?).
Thanks.

[2018-02-20 11:51] Sammers21 commented on #82
@lifengchuan2008, any updates on this?

[2018-02-20 12:00] Sammers21 commented on #82
@lifengchuan2008, I also noticed that you are using netty 4.1.8, while netty 4.1.15.Final should be used with vertx 3.5.0

[2018-02-20 13:05] kirillkh commented on #83
I don't have sample code, the project is closed source.

[2018-02-20 13:12] Sammers21 commented on #83
@kirillkh, we are not asking for a project source code. We are asking for a code which can be used for reproducing the error.

[2018-02-20 13:14] kirillkh commented on #83
All the same, I don't have sample code to reproduce it.

[2018-02-20 15:43] kirillkh commented on #83
I'd like to add that both clients are connected to the same server, but they use different client ids.

[2018-02-20 17:02] ppatierno commented on #83
Even if your code is closed source it should be simple for you to write a simple application to reproduce the problem.

[2018-02-20 17:04] kirillkh commented on #83
Thank you for suggestion! I explained exactly what I did, so anyone should be able to reproduce it. Doesn't vertx-mqtt have test infrastructure to enable writing such test cases easily?

[2018-02-20 17:43] kirillkh commented on #83
Can't someone knowledgeable in vertx-mqtt test infrastructure do it?

[2018-02-20 17:44] kirillkh commented on #83
I don't really understand why you decided that handling this bug is my responsibility. I found it and described the steps to reproduce, but how does that automatically make me responsible for a writing test case?

[2018-02-20 17:49] ppatierno commented on #83
@kirillkh I'm not deciding that, I'm just asking if it's possible getting an example from you. I can do that (when possible) and then come up with (maybe?) something working and then the problem should be compare my code with yours with wasting of time. It seems to me that you don't get how open source works; if you want the "potential" bug fixed right now you could investigate and provide a PR fo

[2018-02-20 17:55] kirillkh commented on #83
@ppatierno I do understand how open source works. If reproducing it were easy, I'd do it right now. But from my perspective reproducing it is quite a lot of code: you need to set up the broker, two subscribers and then a publisher as well. I assume that vertx-mqtt has test infrastructure that enables writing such tests easily. Hence it would be better if one of the project developers did it.

[2018-02-20 17:57] ppatierno commented on #83
We'll do that. Wait for us please.

[2018-02-20 18:01] kirillkh commented on #83
Look, I might be able to do it if you point me to a test case that already implements subscriber+broker+publisher and needs little modification to implement two subscribers.

[2018-02-21 06:48] ppatierno commented on #83
@kirillkh I have added a test for this scenario and it passes without any problems. It's the new `unsubscribedNoMessageReceived` method under `MqttClientSubscribeTest` class.
Two clients connects to the Eclipse public MQTT broker (based on Mosquitto) and subscribe to a topic then the first client unsubscribe. Finally, a publisher publishes a message but just only the second client (still subscribe

[2018-02-22 07:26] ppatierno commented on #83
@kirillkh any news on that before I close this "issue" ?

[2018-02-22 07:27] kirillkh commented on #83
I don't like your tone, but I'm working on it.

[2018-02-22 07:33] Ashye commented on #81
i found out the pattern of the issue.
when i deploy a mqtt server with deploy option go with setWorker(true), the problem appearred.
but i don't know why?

[2018-02-22 07:33] ppatierno commented on #83
@kirillkh what do you mean ? I was just asking because you pushed on this issue without giving any example for reproducing it (which is something that all developers interested in the project do and they are really helpful for us). I wrote a test and it's working so there is no issue for me (but I could be wrong). This was my concern : it's always better to provide a reproducer code in order to be

[2018-02-22 07:36] kirillkh commented on #83
I realize that you feel your time has been wasted, but I had my own reasoning for not readily providing reproducible test case, I explained it, and you seemed to agree. If you hadn't did it, I would've done it myself. Anyway, please be patient while I'm trying to reproduce the issue and figure out where it's failing.

[2018-02-22 07:39] ppatierno commented on #83
@kirillkh my time isn't wasted absolutely. As maintainer of this project I want to fix all the issues that users report to me but sometime happens that the bug depends on the environment where users are using the library. For this reason a developer should isolate the problem providing a reproducible and simple code. This is the case : my test is working so from my point of view there is no bug bu

[2018-02-22 07:40] lifengchuan2008 commented on #82
@Sammers21, Sorry, because the Spring Festival holiday did not follow this problem, Now we have upgraded the vertx to 3.5.1, netty 4.1.19.Final, and wait for a while to see if there is a problem of deadlocks.Thank you .

[2018-02-22 08:30] Sammers21 commented on #81
Looking at the error, it seems that message received by mqtt-server is not related to mqtt...

It is also hard to figure out where is the problem without having a reproducer.

I also don't think that `setWorker(true)` may affect, but who knows.

[2018-02-22 08:47] Ashye commented on #81
this is my testing code.
clean project after changing setworker(),

[code]

[code]

[2018-02-22 09:33] kirillkh commented on #83
The problem was in our code. Thank you for helping with the test case.

[2018-02-22 09:33] #83 closed

[2018-02-22 09:48] ppatierno commented on #83
Happy to help ;)

[2018-02-24 07:52] lifengchuan2008 commented on #82
@Sammers21 , Hi, Has been updated,delete  Google Guice ,I tracked it, and after nearly 30 hours, I got the deadlock again.

[2018-02-28 08:03] sophokles73 commented on #83
@ppatierno I wish I had your nerves ;-)

[2018-02-28 08:07] ppatierno commented on #83
@sophokles73 they have been severely tested ;-)

[2018-03-02 04:37] caoqingguang opened #85 "how I kown the server publish message （use qos1） is success"
when I publish message1 use method
`  MqttEndpoint publish(topic, Buffer payload, qosLevel, isDup, isRetain);  `

and i can get  messageId by method
  `int lastMessageId()`

and i kown one message is success when i get
[code]

but in multi thread , the messageId maybe not the real messageId, when an other thread send message2 at same time

so if i want get real messageId for message1, i must use l

[2018-03-02 09:17] Sammers21 commented on #85
I see the problem is that we are not sure which message id will be returned by `MqttEndpoint#lastMessageId` in some cases it may retun just sent message, in some cases may not.

I think we should have one more publish method with a handler, called when a message is sent with a message id. We have a similar method in MqttClient.

[2018-03-02 18:16] caoqingguang commented on #85
@Sammers21
Thank you for answering my question， I will pull the latest code

and I suggest add 2 methods at interface  **MqttEndpoint.java**
 so don't need another map to save the client and context，
User can define any context if they want , and get context at anywhere when they have a ref MqttEndpoint .
[code]

[2018-03-02 19:27] Sammers21 commented on #85
@caoqingguang, sorry but I did not get it. So, why it can be useful? Can you explain?

You also welcome to submit a PR. We will see and discuss then.

[2018-03-03 12:15] ppatierno commented on #85
@caoqingguang what's the client context you are talking about ? I think that PR #86 from @Sammers21 can help you to solve your initial problem.

[2018-03-03 13:17] caoqingguang commented on #85
@Sammers21   @ppatierno
those methods is another suggestion .   I can save the remote client status use the client context, ex:  the percentage of success message, the average time   from send message to receive ack , client connect time, and all message num  and so on.

[2018-03-03 13:35] caoqingguang commented on #85
@Sammers21 @ppatierno
thanks , the PR #86 is ok. and I commit PR #87  that is similar with PR #86
if the message  is timeout  as not receive ack for a long time.  ,I will send the message again with the same messageId.
code like
[code]
same message with same messageId,

[2018-03-03 17:11] Sammers21 commented on #85
@caoqingguang, I think that sending a message with id generated by hands might be useful, but it can lead to some issues when using publish with autogenerated message id along with handly generated one. So if we would have such opportunity, it should be used with caution by vertx-mqtt-server users.

And if we would look at a situation when you need to resend a message, why it is a problem to use d

[2018-03-04 02:54] caoqingguang commented on #85
@Sammers21
ok, for example, I have two messages to send, each one sent 3 times that first send 1 time and retry 2 times on bad net quality.

## case1 same message with _diffrent_ messageId

messageId and message **mapping** like the table in condition

messageId|message|description
---|---|---
id1|msg1|first send
id2|msg1|retry send
id3|msg1|retry send again
id4|msg2|first send
id5|msg2|retry send

[2018-03-05 05:01] #85 closed

[2018-03-08 11:37] ppatierno commented on #85
@caoqingguang why did you close the issue ? did you solve it ?

[2018-03-10 16:06] caoqingguang commented on #85
@ppatierno
no，I  use the code like this
[code]

I will try run this code on server  which has 1 millon users.
if the test is ok, then use it in prod env.

[2018-04-12 19:02] cleberlira opened #88 "Vertx mqtt server not work with MqttCalback"
Hi,

I am trying to access the Vert.x mqtt server from client paho but method callback not work.  I need help for to solution.  Folowing the implementation of Vert.x Mqtt Server and client paho.

i have implementation of according with: https://vertx.io/docs/vertx-mqtt-server/java/.

@Component(immediate = true)
@Instantiate
public class VertxMqtt extends AbstractVerticle{

    public static final

[2018-04-15 16:41] cleberlira commented on #88
@*Sammers21* , can you please to access at:
https://github.com/WiserUFBA/vertx-mqttt-client

Open the file Instructions.

Thanks

2018-04-12 18:23 GMT-03:00 Pavel Drankov <notifications@github.com>:

[2018-04-15 18:44] Sammers21 commented on #88
Hi @cleberlira, I will take a look at it on the next week. Please keep tuned.

[2018-04-24 13:13] Sammers21 commented on #88
Hi  @cleberlira, I have a look at your project. If you wonder why `PublisherPaho#messageArrived` is not called, the reason is that you are not sending it on the server side.

Vert.x MQTT server is designed in a way, to handle subscription by hands, not automatically. So basically, the client will receive a message if you would call `MqttEndpoint#publish`.

[2018-04-24 13:30] Sammers21 commented on #88
@cleberlira , you should also pay attention to the line: https://github.com/WiserUFBA/vertx-mqttt-client/blob/master/src/main/java/br/ufba/dcc/wiser/PublisherPaho.java#L128, I figured out that you are getting `java.lang.NullPointerException` here

[2018-04-26 18:02] cleberlira commented on #88
Ok. I understand but in my project original i need to publish message when
happen subscriptions.  I dont know to handle message this moment.  How do I
get access to payload?

             endpoint.subscribeAcknowledge(subscribe.messageId(),
grantedQosLevels);

                        System.out.println("endpointcantes " +
endpoint.clientIdentifier());

                       for (MqttTopicSubscrip

[2018-04-27 03:09] cleberlira commented on #88
Hi @Pavel Drankov,

i too tested mqtt client of according with o link (
https://vertx.io/blog/introducing-vert-x-mqtt-client/) and not working.

i too tested mqtt client of according with o link (
https://vertx.io/blog/introducing-vert-x-mqtt-client/) and not working.
i cant get message from the topics i am subscribing for.

2018-04-26 15:02 GMT-03:00 Cleber Lira <cleberlira@gmail.com>:

[2018-04-27 16:06] cleberlira commented on #88
The vertx is only listening to messages from it.

2018-04-12 18:23 GMT-03:00 Pavel Drankov <notifications@github.com>:

[2018-04-27 23:35] cleberlira commented on #88
@*Sammers21* ,

can you please to access at:
https://github.com/cleberlira/iotvirtualdevice/blob/master/instructions
I can not consume the messages for the topics that the client is subscribed
to. I tested using Mqtt Client and the paho client but it does not work.

It only works when I do a publish of the subscribed topic in the Client
itself

Thanks

2018-04-27 13:58 GMT-03:00 Pavel Drankov <not

[2018-04-28 10:25] Sammers21 commented on #88
I will look at it. But before, can you access mqtt-examples(https://github.com/vert-x3/vertx-examples/tree/master/mqtt-examples) and try one of them? Maybe you will be able to figure out what is wrong by looking at the examples?

[2018-04-28 14:39] cleberlira commented on #88
Hi,

I've done this...

2018-04-28 7:25 GMT-03:00 Pavel Drankov <notifications@github.com>:

[2018-05-03 21:34] #88 closed

[2018-05-09 17:21] Sammers21 commented on #88
@cleberlira , have you solved the problem?

[2018-05-10 20:16] cleberlira commented on #88
@*Sammers21* , I understand that Vertx MQTT not a MQTT broker.

Is there prevision to support featured broker?

Thanks

Cleber Lira

2018-05-09 14:21 GMT-03:00 Pavel Drankov <notifications@github.com>:

[2018-05-11 13:48] Sammers21 commented on #88
@cleberlira, Vert.x MQTT provides a set of tools for building an MQTT broker, it also has a full-featured MQTT client.

Nope, we are not planning to create a featured broker on it. Instead, we are giving you convenient tools for building one.

[2018-05-12 09:04] vietj opened #90 "Provide server Endpoint#accept(boolean) method a no arg overload"
Add a `Endpoint#accept()` method that accepts the endpoint with no session present.

[2018-05-12 17:25] #90 closed

[2018-05-14 17:31] kirillkh opened #92 "Deadlock in io.vertx.mqtt.impl.MqttClientConnection"
Vertx 3.5.1

After several days of running my server that uses vertx-mqtt, it got stuck in a deadlock with the following stack trace. The verticle that runs this client is really simple, it only calls `client.publish` in a single place, nothing else. I'm fairly sure there is no possibility my code is to blame for this deadlock.

Looking at my logs, I found that the other thread that apparently par

[2018-05-14 17:38] vietj commented on #92
can you make a heap dump and show the full deadlock ? (i;e the two threads deadlocking along with the lock acquisition info).

[2018-05-14 17:42] kirillkh commented on #92
I can the next time it happens...

[2018-05-14 19:06] vietj commented on #92
it seems similar indeed, but in this case we don't know the other thread of the deadlock

[2018-05-14 19:08] vietj commented on #92
I think ideally @Sammers21 we should not own a lock when we write with the client, i.e `io.vertx.mqtt.impl.MqttClientImpl.write(MqttClientImpl.java:642)` should not lock on the client

[2018-05-14 19:09] vietj commented on #92
I think @Sammers21 that we change the code in MQTT to use the NetSocket as lock and not lock on the MqttClientConnection.

[2018-05-14 19:14] vietj opened #93 "Use NetSocket as lock on MqttClientConnection instead of itself"
Which would avoid deadlocks.

[2018-05-24 13:41] sophokles73 commented on #19
This is a much anticipated feature from our side :-)

[2018-05-24 13:48] sophokles73 opened #94 "Race condition in server when accepting a connection"
I am connecting a client using vertx-mqtt to a server implemented on top of vertx-mqtt. The client is implemented to connect to the server, wait for the server's  CONNACK and then start publishing some messages.

Every once in a while, the server runs into the following problem when the client sends its first message:
[code]

I suspect a race condition in `MqttEndpointImpl` between the connect han

[2018-05-24 15:16] vietj commented on #94
@sophokles73 can you provide a patch and possibly a test ?

[2018-05-24 15:34] ppatierno commented on #94
@vietj discussing with @sophokles73 I'll take a look into it but if he already have a patch + tests it could be useful :-)

[2018-05-24 15:38] sophokles73 commented on #94
providing  a patch is easy, writing a test case probably isn't ...

[2018-05-24 15:48] Sammers21 commented on #94
You can try to connect and then instantly publish for a big amount of times, so I think the right test should be like that, but of course, it will not guarantee that code is not broken.

[2018-05-24 16:17] sophokles73 commented on #94
the more I think about it, the less I believe it is because of lacking synchronization or field visibility. The MQTT server's handlers all run on the same event loop so the problem is probably more related to sending the CONACK packet to the client via Netty (which probably sends it on a different thread than the event loop thread). In this case, simply setting the *connected* flag *before* sendin

[2018-05-24 17:12] vietj commented on #94
@sophokles73 I think the best would be a reproducer so we can check if that's a race condition or something else

[2018-05-24 22:43] sfitts opened #95 "Reduce logging levels for several client log messages"
Version -- 3.5.1

The logging levels for some things are pretty verbose.  For example, line 174 of MqttClientImpl uses an "error" log level for an exception that will be given to the connection handler (so the caller will get the error and can decide if it wants to scream about it -- we don't).

In the same place successful connections print an "INFO" log (at line 179).

In general I'd prefer if V

[2018-05-25 07:04] sophokles73 commented on #94
@vietj By *reproducer* you mean a piece of code that demonstrates the problem (reliably)? If so, that is what I meant by

How can I interrupt/pause the execution of `MqttEndpointImpl.conack()` after it has sent the CONACK paket and *before* it sets the *connected* flag to `true`?

[2018-05-25 07:17] vietj commented on #94
yes and that exhibit the failure

[2018-05-25 07:18] vietj commented on #95
I agree with you.

one practice I found is to log only the message of these errors (some are expected) but log the full trace if debug is enabled

[2018-05-25 07:56] sophokles73 commented on #94
As indicated above, I have no clue how I could do that based on the existing code. Do you have any idea?

[2018-05-28 04:13] vietj commented on #92
can you try this branch @kirillkh https://github.com/vert-x3/vertx-mqtt/pull/96 and report wether you still see the deadlocks ?

[2018-05-28 04:13] vietj commented on #82
can you try this branch @lifengchuan2008  https://github.com/vert-x3/vertx-mqtt/pull/96 and report wether you still see the deadlocks ?

[2018-05-30 14:38] dushibaiyu opened #97 "java.lang.IllegalArgumentException: Duplicate handler name: idle In 3.5.1"
When set NetServer Option  IdleTimeout > 0
In file io.vertx.core.net.impl.NetServerImpl at function initChannel at line 145~147 will add 'idle' handler to pipeline

And in file io.vertx.mqtt.impl.MqttServerImpl  on function initChannel at line 141 will add a 'idle' hander too, it will throw the erro exception

I think should change the last 'idle' to 'mqttIdle'

[2018-05-30 14:52] dushibaiyu opened #98 "https://vertx.io/docs/vertx-mqtt/kotlin/ can not show the code in : Handling client connection/disconnection"
it show : Code not translatable

in opera 53.0
win10

[2018-06-07 03:28] abccbaandy opened #99 "best practice for multiple topic subscribe"
Currently I know there are 2 ways(maybe there is more? ) to do this :
1. reuse same mqtt client.
2. create multi mqtt client(and multi Verticle) for each topic.

Is there any performance issue or resource(thread/CPU/memory) issue for it?
for ex:
If I reuse same mqtt client, it may be slower than multi mqtt client. Because it need handle all messages itself.
But if I use multi mqtt client, it may c

[2018-06-07 08:01] gadieichhorn opened #100 "Cannot subscribed to different topics withj the same client"
I think this is a missing option with the spec. I would like to register different handlers to different topics with the same client so I can handle different topics in specific way.

here is a simple test that breaks becuase the first handler will take all messages

[code]

Do I have to create seperate clients for each publish  handler?

[2018-06-07 08:14] Sammers21 commented on #100
@gadieichhorn, yes, it is designed in a way to handle all the incoming publishes by the one handler, so it is not a bug.

There is some issue related to the described feature functionality: https://github.com/vert-x3/vertx-mqtt/issues/55.

[2018-06-07 08:28] gadieichhorn commented on #100
ok, this make sense, basically it is ok to use different clients for differnet topics in the same verticle?

I also looked at my old Paho code, it works the same way.

here is how I changed the tests to work

[code]

[2018-06-07 08:28] #100 closed

[2018-06-07 09:03] Sammers21 commented on #100
@gadieichhorn, Yes, I think it's fine, but I would not recommend it. I would figure out what is the path of the message in _publishHandler_ and routed it to a related handler, so it is super easy.

[2018-06-07 09:11] ppatierno commented on #100
Why having a different handler for each subscribed topic ? or why having a different client for each topic to subscribe ? The `publishHandler` parameter provides you the `topicName` method in order to get the information about on which subscribed topic the message was received. I think that it's enough.

[2018-06-07 10:53] Sammers21 commented on #99
@abccbaandy, generally, I think you should reuse a single client for all the topics you have.

In fact, MQTT client is single threaded, and in order to achieve a good performance, you should ensure that there are no blocking operations in a handler code, or try to do them in a separated thread.

If your system is a high load system and you have already achieved a maximum performance when using a s

[2018-06-07 10:55] Sammers21 commented on #99
And it would be also great if you would share your results/measurements afterwards

[2018-06-07 12:17] ppatierno commented on #99
I think that @Sammers21 already answer in a really good way.
Using a single client could be the best option but having the handler doing the minimal in order to avoid blocking the Vert.x event loop.

[2018-06-07 12:18] ppatierno commented on #98
@vietj any idea about that?

[2018-06-07 12:33] sophokles73 commented on #94
I am closing this issue because I am not able to create a reproducer and I am also no longer convinced that there exists a race condition (at least in theory, vert.x should prevent the situation described above from happening).

[2018-06-07 12:35] vietj commented on #94
thanks @sophokles73 don't hesitate to reopen if you have info

[2018-06-07 12:37] vietj commented on #98
it's because the example cannot be translated from java to Kotlin by the code translator

[2018-06-07 12:37] vietj commented on #98
which example is it in our codebase ? can you point it out ?

[2018-06-07 14:52] abccbaandy commented on #99
What's the problem is that?
Isn't the whole Vert.x verticle single thread(event loop thread)?

This is my concern here. But as I said in the first comment

Actually, I implement all these feature with Vert.x stuff

- Vert.x core json support

convert json to vo

- Vert.x redis client

save message to redis

- Vert.x mqtt client

send to another mqtt broker

[2018-06-07 15:52] Sammers21 commented on #97
@dushibaiyu, can you try with the 3.6.0-SNAPSHOT version?

[2018-06-07 16:14] dushibaiyu commented on #97
@Sammers21  in the master it will has the error:
Beause in  io.vertx.mqtt.impl.MqttServerImpl on function initChannel at line 141: pipeline.addBefore("handler", "idle", new IdleStateHandler(this.options.timeoutOnConnect(), 0, 0));

the "idle" handle is add in NetServerImpl   before when you set NetServerOption.IdleTimeout > 0

[2018-06-08 07:03] #92 closed

[2018-06-08 07:03] #82 closed

[2018-06-08 11:47] Sammers21 commented on #97
Ah, I see. You are right. We have already fixed the issue in the MQTT client. See the PR: https://github.com/vert-x3/vertx-mqtt/pull/79.

I think we can do the same thing for MQTT server.

@dushibaiyu, are you interested in contribution?

[2018-06-11 11:07] #98 closed

[2018-06-11 11:08] dushibaiyu commented on #97
I have created a Pull-request.

[2018-06-11 15:11] sophokles73 commented on #94
I have run into this issue again and I now also have the log output which includes the names of threads:
[code]

it is a  log of an interaction of a client (a unit test case) interacting with a server (running in a Docker container). The server's log statements are prefixed with `MQTT`, the rest is from the client (and the test case). The most interesting lines are
[code]
because they seem to supp

[2018-06-11 15:17] vietj commented on #94
can you provide a reproducer project ?

[2018-06-11 15:20] vietj commented on #94
are you running this in a verticle ? can you show the code that starts the server ?

[2018-06-11 15:26] sophokles73 commented on #94
This is part of the integration test suite we are running for the Eclipse Hono project. The error does not occur reliably but instead it happens only once in a while (that's why I suspect a race condition).

[2018-06-11 15:27] vietj commented on #94
how can I reproduce it ?

[2018-06-11 15:31] sophokles73 commented on #94
The server is running as a verticle. The client is run as a junit test using the `VertxUnitRunner`. The server is started as a Docker container before the test is executed.

The * bindInsecureMqttServer* method is invoked as part of the Verticle's *start()* method ...
[code]

[2018-06-11 15:32] sophokles73 commented on #94
You can check out the Eclipse Hono project and run the integration tests. However, there is no way to reliably reproduce the issue, i.e. you may or may not run into the problem ...

[2018-06-11 16:06] sophokles73 commented on #94
Sure, the repo is https://github.com/eclipse/hono
Check out master and follow the Getting Started guide's instructions [1] to build locally.
Then run the relevant integration test by executing
`mvn -Dit.test=TelemetryMqttQoS0IT verify -Prun-tests`
from the `tests` folder

[1] https://www.eclipse.org/hono/getting-started/

[2018-06-12 09:42] vietj commented on #94
I've been able to install the project but when I try to run the test I get:

[code]

[2018-06-13 13:34] sophokles73 commented on #94
have you been following the Getting Started guide and have built the Docker images on your local Docker daemon?

[2018-06-14 08:27] vietj commented on #94
I've seen this failure:

[code]

is it related to this case ?

[2018-06-14 09:42] vietj commented on #94
you are saying that the MQTT prefixed log is from server however I can see:

MQTT14:24:26.449 [vert.x-eventloop-thread-3] INFO  o.e.h.c.i.AbstractRequestResponseClient - enabling caching of responses from registration/27b2ce55-7e45-4327-9e3b-5e7197f86fbf
MQTT14:24:26.594 [vert.x-eventloop-thread-2] INFO  o.e.h.s.m.LoggingConnectionEventProducer -    Connected - ID: dd3ca1bb-a6d1-4385-9712-b716f5f0

[2018-06-15 05:54] #81 closed

[2018-06-15 07:39] Sammers21 commented on #99
In fact, it seems that you reached the MQTT 3.1.1. protocol limitation, since you can have more than  65535 active packets: http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/errata01/os/mqtt-v3.1.1-errata01-os-complete.html#_Toc442180838

[2018-06-15 09:52] abccbaandy commented on #99
So MQTT is not a good solution for high concurrent messages system?

[2018-06-15 11:53] Sammers21 commented on #99
@abccbaandy, I think that MQTT is fine for high concurrent messages system because you can easily scale horizontally and vertically. You just need to keep in mind that you are limited to 65535 concurrent messages, so even with the limitation a single broker/client able to handle millions of messages per second.

[2018-06-15 13:12] abccbaandy commented on #99
How?
Theory, a single client can only handle 65535 concurrent messages(in fact, it can only handle 20K messages in my test).

To handle 65535+ concurrent messages, I have to scale out my mqtt verticle like I did in my test and it looks like a little resource wasted.

[2018-06-18 07:11] sophokles73 commented on #94
[ERROR] testUploadMessagesUsingShortTopicNames(org.eclipse.hono.tests.mqtt.TelemetryMqttQoS0IT)  Time elapsed: 2.325 s  <<< FAILURE!
java.lang.AssertionError: did not receive expected number of messages [expected: 180, received: 172]
	at org.eclipse.hono.tests.mqtt.TelemetryMqttQoS0IT.assertMessageReceivedRatio(TelemetryMqttQoS0IT.java:85)

[INFO] Results:
[INFO]
[ERROR] Failures:
[ERROR]   Teleme

[2018-06-18 07:15] sophokles73 commented on #94
MQTT14:24:26.594 [vert.x-eventloop-thread-2] INFO o.e.h.s.m.LoggingConnectionEventProducer - Connected - ID: dd3ca1bb-a6d1-4385-9712-b716f5f0d480, Protocol Adapter: hono-mqtt, Device: device [device-id: eb0dbf7a-cc4b-4469-8550-1e4a5a1d49f1, tenant-id: 27b2ce55-7e45-4327-9e3b-5e7197f86fbf], Data: null

No, all of this is from the MQTT server component. Hono consists of multiple (micro-)services. Th

[2018-06-18 07:21] sophokles73 commented on #94
In the meantime I have seen this happening twice again on our Travis instance. Once during the execution of the EventMqttIT (publishing messages using QoS 1):

[code]

and again during execution of the TelemetryMqttQoS1IT (publishing telemetry messages using QoS 1):

[code]

[2018-06-29 10:15] abccbaandy commented on #66
I think reconnect is a important feature, and not just for reconnect, we need resubscribe feature too.

[2018-06-29 10:17] abccbaandy commented on #66
But I know it's a miss feature in most of mqtt component :P

for ex:
https://issues.apache.org/jira/browse/CAMEL-11691

[2018-07-04 08:28] sophokles73 commented on #94
@vietj any news on this?

[2018-07-04 08:32] vietj commented on #94
no time to look at it unfortunately :-( , I'll do my best to have a look

[2018-07-04 08:32] vietj commented on #94
a simple reproducer would have make things easier

[2018-07-04 08:38] sophokles73 commented on #94
@vietj can you at least state your opinion on my latest comment?

[2018-07-04 08:45] vietj commented on #94
yes @sophokles73

as far as I remember when I looked at the code I think I found callbacks that were registering things in vertx from an external thread (coming from spring) and they should actually run on the verticle context to register things to avoid several event loops, for instance:

[code]

you can read that to understand more https://github.com/vietj/vertx-materials/blob/master/src/main/as

[2018-07-04 08:46] vietj commented on #94
so you want to make sure that all registrations are done using the correct event loop

[2018-07-04 08:54] sophokles73 commented on #94
this sounds very reasonable and in fact might already be the solution to our problem. I will check and see if I can make sure to register the handlers all on the same (event loop) thread and let you know ...

[2018-07-06 09:32] sophokles73 commented on #94
@vietj ok, the problem is indeed related to the fact that the connection handler that we register for the MqttServer invokes other services which run on a different event-loop thread. When this other service completes the result future held by the connection handler, then the CONNACK packet is sent on that other service's context (and underlying thread). The MqttEndpoint's *connected* flag is then

[2018-07-06 09:49] vietj commented on #94
@sophokles73 can you provide a simple reproducer case based out of this reasoning ? in general we don't use volatile but instead we synchronize on the connection, that's why a reproducer would help me better understand the case

[2018-07-06 13:08] vietj commented on #94
awesome, I believe we can get a fix for 3.5.3

[2018-07-10 12:38] vietj commented on #94
I think the test you created is incorrect because the check has `endpoint` set to `false` in

[code]

so it does not really reproduce what we are trying to.

[2018-07-10 12:40] vietj commented on #94
I've been trying to reproduce this bug with a real case and it's quite impossible.

I see that when `accept(false)` is called it sends a network message to the client and set the connected boolean to `true`.

The issue `Received an MQTT packet from a not connected client` arise when the packet arrives and boolean is set to `false`, which is very hard to reproducer because between the time the pack

[2018-07-10 12:42] vietj commented on #94
I've also tried to run the hono reproducer lot of  time and can't get it reproduced.

so for 3.5.3 I will fix the synchronisation and it should fix the issue even if it is hard to reproduce.

[2018-07-10 13:06] vietj commented on #94
actually was able to reproduce it once, I will still work on the same fix and see if I can run it many times without reproducing.

[2018-07-10 13:10] sophokles73 commented on #94
Do you mean *endpoint* is `null` or *endpoint.isConnected()* returns `false`? The latter is actually what the test case is trying to illustrate, i.e. that the value of the *connected* field which has been updated in the thread that sent the CONNACK, is not (yet) visible in the thread that is handling the PUBLISH.

I agree that synchronizing access to the *connected* field should solve this problem

[2018-07-10 14:34] vietj opened #104 "Improve MqttClient synchronization"
Currently the client needs improvements (state update not synchronised, deadlock when called from non vertx thread).

[2018-07-10 14:35] vietj commented on #95
@ppatierno

[2018-07-10 15:12] vietj commented on #94
null as far as I remember

I'm currently running IT tests intensively to check the fix.

[2018-07-10 15:18] vietj commented on #94
can you test the 3.5 branch on your side if I push the fix ?

[2018-07-10 15:28] sophokles73 commented on #94
I can use it for doing development and see if the problem occurs again when running integration tests. However, I will also take a look at the unit test.

[2018-07-10 16:33] vietj commented on #94
sure thing

[2018-07-10 16:42] #94 closed

[2018-07-10 16:42] #104 closed

[2018-08-01 07:37] zb564739784 opened #105 "qos2 Distinct"
MqttClientImpl handlePubrel in class,  Why didn't the handlePubrel method remove qos2inbound data,If you receive pubrel multiple times, you lose QOS2

[2018-09-18 10:17] zhou-hao opened #106 "Thread blocked at MqttEndpointImpl.isConnected"
Thread Thread[vert.x-eventloop-thread-3,5,main] has been blocked for 947953 ms, time limit is 10000 [io.vertx.core.VertxException: Thread blocked at io.vertx.mqtt.impl.MqttEndpointImpl.isConnected(MqttEndpointImpl.java:181) at

[2018-09-18 11:09] vietj commented on #106
can you provide a full stack trace ?

which vertx version is it ?

[2018-09-18 11:12] zhou-hao commented on #106
vertx version: 3.5.3

stack 1:
  Thread Thread[vert.x-eventloop-thread-3,5,main] has been blocked for 951955 ms, time limit is 10000 [io.vertx.core.VertxException: Thread blocked at io.vertx.mqtt.impl.MqttEndpointImpl.isConnected(MqttEndpointImpl.java:181) at com.zmcsoft.iot.interaction.vertx.mqtt.MqttClient.alive(MqttClient.java:69) at com.zmcsoft.iot.interaction.vertx.client.HashMapClientReposit

[2018-09-19 01:29] zhou-hao commented on #106
vertx version: 3.5.3

stack 1:
[code]
stack 2:
[code]

[2018-10-19 11:56] ppatierno opened #107 "Add an API method for providing clients list"
As requested in https://github.com/vert-x3/issues/issues/412, it could be useful for `MqttServer` exposing a method for getting the list of connected clients.

[2018-11-08 08:40] vietj opened #108 "Fix data objects"
Currently

- the `MqttAuth` is a read-only data object with `userName()` and `password()` accessors. Such methods are not recognized by codegen (and thus example code generation fails). In addition it's common to use `username` non capitalized than `userName`
- the `MqttWill` is a read-only data object with `willTopic()` / `willMessage()` / `willQos()` accessors. Such methods are not recognized by

[2018-11-08 08:49] #108 closed

[2018-11-13 03:38] SunFeiyue opened #109 "mqtt client will never realize the connection is closed when TCP connection established but CONACK not received"
For the following situation :
1) the underlying TCP connection is established
2) client receives no CONACK
3) the underlying TCP connection is disconnected

In this situation, the mqtt client "connect handler" will not be called because CONACK is not received, the mqtt client 'close handler' will not be called because 'isConnected' is false. So the client will never realize the connect result beca

[2018-11-13 08:05] vietj commented on #109
why does it matter since that's not a real connection ?

[2018-11-13 09:51] SunFeiyue commented on #109
Since the client dosen't receive any feedback, the client code will not be triggered.
We have met such a problem: we have implemented auto-connect function when the mqtt connection is broken. We wrote the 'connect-retry' logic in the 'close handler' and 'connect handler'. In 'connect handler', we check that if the connect fails, we will do 'connect-retry' after a period of time. In 'close handler'

[2018-11-13 10:03] ppatierno commented on #109
@SunFeiyue I think that it makes sense. The close handler is supposed to be called when the TCP connection is closed and should not be tied to the CONNACK. Thanks for raising it.
Are you going to provide a PR for this one?

[2018-11-13 10:28] vietj commented on #109
@ppatierno ok, so that would mean that the client sends at least a CONNECT message right ?

[2018-11-13 10:29] vietj commented on #109
I thought the client would not send anything first :-)

[2018-11-13 10:33] ppatierno commented on #109
@vietj the client should do that: opening the TCP connection, sending the CONNECT and waiting for the CONNACK. I think that the problem they are facing is about the CONNECT cannot reach the server (so it doesn't send CONNACK) or the client doesn't receive a CONNACK and somehow the server closes the TCP connection (or it's interrupted). Is that right @SunFeiyue ?

[2018-11-13 11:33] vietj commented on #109
if CONNECT does not reach the server then it will not help because the handler won't get MqttEndpoint and won't have opportunity to set a close handler

[2018-11-13 16:06] ppatierno commented on #109
Yeah agree but @SunFeiyue is talking about "the underlying TCP connection is disconnected" so it should be detected at Netty "level" on the client and the close handler should be called. Of course, if the TCP connection is not disconnected, the client could wait indefinitely because it can be related to the CONNECT or CONNACK lost but with the TCP connection still in place.

[2018-11-13 21:29] Sammers21 commented on #109
I think we can have a `readTimeout ` option,  which can be applied not only for the MQTT connection phase(CONNECT & CONNACK).

[2018-11-14 01:40] SunFeiyue commented on #109
Yes, right. Sorry for later reply.

[2018-11-14 04:04] SunFeiyue commented on #109
I think this fix  cannot solve my problem actually. In the situation I mentioned above, _io.vertx.mqtt.impl.MqttClientImpl#handleClosed_ will be called when the TCP connection become disconnected, but the _close handler_ will not be called, just because the _'isConnected_' field is false.
[code]

[2018-11-14 07:19] Sammers21 commented on #109
@SunFeiyue , the source code for the `io.vertx.mqtt.impl.MqttClientImpl#handleClosed` is following:

[code]

[2018-11-14 07:31] Sammers21 commented on #109
Sorry, it was a miss click(closing this issue). PR is also reverted

[2018-11-14 07:46] SunFeiyue commented on #109
yes, it is. I have seen this lastest source code.  In the lastest `handleClosed` method, the `close handler` will still not be called when `isConnected` is false.

[2018-11-14 07:58] Sammers21 commented on #109
@SunFeiyue, I agree. I think the `isConnected` filed should be only changed in the `handleClose` method.

[2018-12-11 11:48] srikgn commented on #99
@abccbaandy  i too tested hitting a limit of 20K client connections for broker listening on a single port. However if with in a single process i can create more mqtt broker isntances and assign different ports, it can handle more connections.
@Sammers21  please confirm this for a single (localhost,1883) why i am unable to connect more than 20K connections.

[2018-12-18 07:16] konradmichael commented on #106
I have a different Deadlock, so I am adding this here. If you would like this to be a different issue just say so.
Library version is 3.6.0. I do not see any release-notes so I cannot tell if this could be fixed by using 3.6.2.

Somewhere deep in our code is a shared resource, and it is synchronized. In the TreadDump it is called "Router". The Deadlock occurred, when messages where simultaneous se

[2018-12-18 08:05] vietj commented on #106
agreed @konradmichael

[2018-12-18 08:05] vietj commented on #106
thanks for this precise info, is there a chance you can provide a test reproducing this ?

[2018-12-20 07:43] vietj commented on #106
thanks

[2018-12-23 00:14] aruis opened #114 "Why can't it create a 'will' parameter, like creating ‘auth’, giving a null value if it is not appropriate?"
These two pieces of code should explain the problem

https://github.com/vert-x3/vertx-mqtt/blob/c8213e0f41150a1a02f4ad1185762494b52c6350/src/main/java/io/vertx/mqtt/impl/MqttServerConnection.java#L199-L204

https://github.com/vert-x3/vertx-mqtt/blob/c8213e0f41150a1a02f4ad1185762494b52c6350/src/main/java/io/vertx/mqtt/impl/MqttServerConnection.java#L207-L211

Because of this problem, this code make

[2018-12-23 18:34] sandipsahoo2k2 commented on #88
I am using vertx mqtt server for my www.feettrack.com server and all is well .. Note its not a full fledge MQTT Broker so dont  misunderstand with a complete MQTT server.. You need to had write a lot of publsih and suscribe and manage cache of client connection etc to be able to use it as per your need.

[2018-12-26 07:17] xyangwang opened #115 "Add a judgment on QoS in the publish method"
I use this component as a broker, and use the eclipse paho client receive message from broker.
I found that using the MqttEndpoint publish method to send messages to clients, regardless of whether the QoS is 0 or not, each time it get the next message ID. But if paho client receive a message with QoS 0, its message ID is 0.
[code]
I write an example, one client send a message with QoS 0 and next t

[2019-01-13 09:09] qeychon opened #116 "Vertical Worker MQTT Server cannot reject a connection"
Hi all,

I use the vertx-mqtt Version: **3.6.2**
I have a vertical worker which contains the MQTT-Server:
[code]

Now I want to connect to the server with a simple MQTT-Client:

[code]
If the class is not a worker, then everything works as expected, but if it is a worker, then no handler will be triggered.
Which I also do not understand, why can the worker accept the connection but not reject a co

[2019-01-15 08:32] konradmichael opened #117 "JAVA: keep alive not working"
The keep alive does not seem to work, maybe i also found out why it is so.

Reproduce:
1. Connect to any remote mqtt-broker (not on your pc).
2. unplug network cable
Result:
Nothing. The connection will not be closed

If you replug the network, the connection will be closed and reconnected (in my setup).

Potential error: MqttClientImpl line 140
https://github.com/vert-x3/vertx-mqtt/blob/c8213e0f4

[2019-01-16 08:13] konradmichael commented on #117
Pull request for working solution: https://github.com/vert-x3/vertx-mqtt/pull/118

[2019-01-17 07:56] vietj commented on #117
can you elaborate what does the 1.5 factor does ? it is not clear to me what is the actual issue and what the fix changes.

[2019-01-17 08:10] konradmichael commented on #117
Issue: Client will not detect a missing ping response as a disconnect.
Fix: terminates connection if no response is comming from broker (timeout)

The use of the keepAlive-Message is to detect if the connection to the broker is lost.
So if the keepAlive message is no longer responded by the broker, the connection is dead.

Currently you will not be informed if the connection to your mqtt-broker is

[2019-01-17 08:14] konradmichael commented on #117
Update:

I belive this should be keepAlive * 1.5

This is not working, I tried it, see the pull-request for a working solution.

[2019-01-17 08:49] vagola commented on #55
Ping from 2019

[2019-01-17 14:39] vietj commented on #55
@vagola unfortunately there is no progress on this issue yet

[2019-02-06 19:27] sfitts opened #120 "Provide more control over sending of acknowledgements"
Vertx-MQTT version 3.6.2

Currently the general pattern for this client is to send all of the acknowledgements prior to the invocation of the registered publish handler.  Unfortunately this means that if there is a failure after the ack is sent, but before the handler completes the Vert.x application using this API may not have had a chance to completely do work associating with fully accepting th

[2019-03-18 11:37] paul-lysak opened #121 "MQTT Server should let the clients send the commands before CONNACK"
According to the MQTT Spec section 3.1.4 (http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/errata01/os/mqtt-v3.1.1-errata01-os-complete.html#_Toc442180845):
"Clients are allowed to send further Control Packets immediately after sending a CONNECT Packet; Clients need not wait for a CONNACK Packet to arrive from the Server."
Eclipse IoT-Testware for MQTT (https://iottestware.readthedocs.io/en/master/mqtt

[2019-03-18 13:55] vietj commented on #121
@ppatierno can we schedule this as a feature request ?

[2019-03-20 04:38] SivaSamrajS opened #122 "MQTT Server is taking more heap space, if we are connected with ssl enabled. By taking the heap dump, byte[] is taking 4 times more heap compare to ssl false. Is there anything we need to? I have tried this for 1L connections."
  | SSL FALSE | False instance Count | SSL TRUE | True instance Count
-- | -- | -- | -- | --
int[] | 213 MB |   | 748 MB |  
byte[] | 21 MB | 127764 | 3.45 GB | 8965812
object[] | 114 MB |   | 203 MB |  
sun.security.ssl | 20 KB |   | 106 MB |  
com.sun.crypto.provider | 143 B |   | 127 MB |  
io.netty.channel | 136 MB |   | 170 MB |  

[2019-03-20 08:39] ctron opened #123 "Auto keep alive not working"
The auto keep alive seems not to be working. Checking the source I assume this is due to the following way it is implemented:

[code]

This will register an idle detector which only listens for write events. However, opening a connection and only pushing QoS messages will not trigger a response from the server,
so the client does never receive anything from the server.

The client should send a PI

[2019-03-20 08:43] vietj commented on #123
@ctron so this is mainly an mqtt-client concern right ?

[2019-03-20 08:46] ctron commented on #123
Yes, this is an issue in the MQTT client.

[2019-03-20 08:49] vietj commented on #123
so basically we should set a timer on the client to periodically send PING commands to the server and that's it right ?

[2019-03-20 14:57] ctron commented on #123
Well you don't need a timer, a simple "reader idle" condition should work, swapping that with the current "writer idle".

[2019-03-20 20:16] vietj commented on #123
what do you mean ?

[2019-03-21 07:41] ctron commented on #123
Swapping the current reader idle condition with writer idle …

[2019-03-21 07:50] vietj commented on #123
ahhh... that makes sense lol :-) sorry

[2019-03-21 07:50] vietj commented on #123
how can we best make a reproducer test for this ?

[2019-03-21 07:53] ctron commented on #123
I am not that familiar with testing in vertx. However the test should be:

Common start

* Create a connection, with an auto-handshake period of X seconds
* Start sending QoS 0 messages to the server, every 1 second
* After X seconds, the client should automatically send a PINGREQ

Variant A:

* The server does not respond
* The connection must be closed after X mutliplied by 1.5 seconds (MQTT spe

[2019-03-21 07:55] vietj commented on #123
that's what I actually asked for :-) thanks.

[2019-03-21 07:56] ctron commented on #123
Cool :smile: … thanks for looking into this!

[2019-03-25 08:40] vietj commented on #123
I'm working on it @ctron , I can't see where the `1.5` multiplier is specified in the spec, all I can read is _If a Client does not receive a PINGRESP Packet within a reasonable amount of time after it has sent a PINGREQ, it SHOULD close the Network Connection to the Server._

[2019-03-25 08:51] ctron commented on #123
MQTT Spec:

[2019-03-25 10:00] vietj commented on #123
@ctron it seems this statement applies to the server and not the client

[2019-03-25 12:13] vietj opened #124 "Client keep alive improvements"
A few improvements done to the client keep-alive:

- introduce a `keepAliveTimeout` on the client that is used to consider ping messages as expired, the default value is `10` seconds
- the client can use a completion handler when sending a ping, that will be completed when the ping response is received or failed when the corresponding timeout expires or the connection is closed
- the current behav

[2019-03-25 12:15] vietj commented on #123
@ctron please see https://github.com/vert-x3/vertx-mqtt/issues/124 which provides a better handling of client ping expiration

[2019-03-25 13:16] konradmichael commented on #123
You are aware, that I made a simmilar issue? Including a PR?
Issue: https://github.com/vert-x3/vertx-mqtt/issues/117
PR: https://github.com/vert-x3/vertx-mqtt/pull/118

I have no Idea why you closed it.

[2019-03-25 14:19] vietj commented on #123
@konradmichael yes I remember now, I tried also to use the READER idle state but it did not work in all cases. Basically writing to the channel a message defeats the idle state and the client does not get properly timeout, so I had to use Vertx timers instead.

[2019-03-25 14:20] vietj commented on #123
also the 1.5 factor does not apply to the client but to the server instead. That's why there is a `keepAliveTimeout` value to specify how long on the client side a disconnect should happen when a ping response is not received from the server

[2019-03-25 14:21] vietj commented on #123
you can help to review the PR @konradmichael

[2019-03-25 14:38] ctron commented on #123
Maybe you should have a look at the whole section, that might explain it:

[2019-03-25 15:06] vietj commented on #123
it says a reasonable time.

the server has the 1.5 factor requirement

as far as I can read

[2019-03-25 16:49] ctron commented on #123
So what would be the definition of "reasonable"?

[2019-03-25 17:13] vietj commented on #123
there is a new property in the `MqttClientOptions` called `keepAliveTimeout` of 10 seconds by default in the PR

[2019-03-26 07:52] ctron commented on #123
With the meaning of "10 seconds after the PINGREQ was sent, a response is overdue"? … I guess that would work.

[2019-03-26 08:00] ctron commented on #123
I just had a look at the PR, and I think this really overcomplicates things.

When you send out a PINGREQ, you expected a PINGRESP to come back. In most cases you don't really care about getting back and PINGRESP or "something else" from the server. The PINGREQ is just a trigger to make the server send you something. This way you can reset the "idle reader" condition.

My proposal would be to:
* s

[2019-03-26 09:15] vietj commented on #123
@ctron I followed your advice and simplified the code, can you check ?

[2019-03-26 09:32] ctron commented on #123
I am sorry, but I don't understand what the intention of the last change is.

To my understanding now what happens is that the PINGREQ is simple sent periodically, but no one ever checks if the reader is IDLE now, or closes the connection?!

[2019-03-26 09:38] konradmichael commented on #123
Same to me here.
Using the reader idle state seems to be the best solution.

[2019-03-26 09:54] vietj commented on #123
@ctron yes it does, the connection is closed in the pingCheck methods, there are tests for this. The intention is to simplify

[2019-03-26 09:55] vietj commented on #123
@konradmichael I will try with reader idle state and let you know if that's feasible. I think I tried already and it failed.

[2019-03-26 09:57] vietj commented on #123
@ctron the `pingCheck()` method is a state machine that implements the behavior you described in your comment:

[code]

[2019-03-26 09:59] vietj commented on #123
state goes from

timerID == -1 : no ping has been scheduled to be sent, so schedule a ping
timerID != -1 && !pingSent : schedule a ping
timerID != -1 && pingSent : close the connection

when a ping response is received : reset state and make progress in automaton again.

[2019-03-26 10:10] vietj commented on #123
@konradmichael I think that one issue of using `IdleStateHandler` is that it only takes in account the reader event. So when we send a ping request to the server, the handler will not reset the idle read timer when the ping request traverses the pipeline. In general `IdleStateHandler` is great when you want to check idle-ness independently of the messages.

[2019-03-26 10:35] konradmichael commented on #123
I think we both understand your state machine.
But you are still periodically sending the ping request. And this is a "bad" behavior as it produces unnecessary traffic.

And all I can say to the Idle-Handler is, that it was working in my test-setup. If i find the time I can reverify it.

[2019-03-26 17:06] ppatierno commented on #123
Finally I had the time to take a quick look at the PR.
First of all, I think that we are creating an ambiguity for who knows the MQTT world and now he sees `keepAliveTimeSeconds` and `keepAliveTimeout`. The second thing, is that the code seems to be over complicated. I would love having the result from @konradmichael if the idle just works to simplify.
As far as I understand from the code, the `pi

[2019-03-26 18:00] vietj commented on #123
As I said, I believe it is not possible to implement this with @konradmichael solution for the reason I explained. Of course I might be wrong and I would be glad, so I believe that @konradmichael can provide a new PR. His original PR did not have any tests, mine has and I believe they are correct. @konradmichael is welcome to reuse the tests I wrote.

In addition @konradmichael was wrong on the `1

[2019-03-26 19:45] ppatierno commented on #123
Did you test what I mention about having PINGREQ sent even when the channel is busy writing?
It seems to me that even when the MQTT client is sending data (i.e. PUBLISH messages, or PUBACK as ack for received packets, ...) the timer always sends PINGREQ which is not necessary.
I would agree on the `KeepAliveTimeSeconds` name but I would use `keepAliveInterval` as mentioned in the spec and heavily

[2019-03-26 19:57] vietj commented on #123
can you explicit what a test case would be ? that leaves any ambiguity

Interval is actually equivalent to Period and better if the spec use this word so I believe we should go for deprecating keepAliveTimeSeconds in favour of keepAliveInterval, can you open an issue for this ?

[2019-03-28 05:50] ppatierno opened #126 "Deprecate keepAliveTimeSeconds in flavor of new keepAliveInterval"
For using the same spec naming, we should deprecate `keepAliveTimeSeconds` and create a new `keepAliveInterval` on the MQTT client.

[2019-03-28 05:51] ppatierno commented on #123
I have just created issue #126

[2019-03-28 05:56] paul-lysak opened #127 "Ability to specify publish messageId manually"
When using `vertx-mqtt` to implement a server with durable session storage (that survives server restarts) it's necessary to be able to manually
specify messageId when calling `MqttEndpoint.publish`. Currently the only option for assigning messageId is `MqttEndpointImpl.nextMessageId` which is purely memory-based
and if the server is restarted or migrated to another node it will start counting fro

[2019-03-28 13:31] paul-lysak opened #128 "Support binary last will message"
At the moment it's only possible to use text Last Will messages because `MqttWill.getWillMessage` returns `String`.
MQTT brokers should also support binary messages, so it should be a byte array instead.
In fact, `MqttConnectPayload.willMessage` which is used to populate that field is deprecated in `netty-codec-mqtt`,
it's suggested to use `MqttConnectPayload.willMessageInBytes` instead.
Can we ha

[2019-03-28 13:52] konradmichael commented on #123
New Pull request: #129

[2019-04-01 15:48] ppatierno commented on #128
@paul-lysak thanks for the PR, I left a comment there.

[2019-04-02 04:28] paul-lysak commented on #128
@ppatierno yes, I saw it and fixed.

[2019-04-05 06:51] #128 closed

[2019-04-05 07:10] #127 closed

[2019-04-09 08:45] paul-lysak opened #132 "Server must send CONNACK 0x01 if CONNECT contains unsupported version of protocol"
*Expected behavior:* in accordance with section 3.1.2.2 of MQTT Spec (http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html) "The Server MUST respond to the CONNECT Packet with a CONNACK return code 0x01 (unacceptable protocol level) and then disconnect the Client if the Protocol Level is not supported by the Server"

*Actual behavior:* connection is closed by the server without sendi

[2019-05-08 07:37] lifengchuan2008 opened #133 "mqttClient qos2inbound queue keeps growing"
When does the qos2inbound queue release when qos2?
![image](https://user-images.githubusercontent.com/15622265/57354306-b612cb80-719d-11e9-8c5f-fa28691300e5.png)

I have an application that USES MQTT qos2 to send and receive messages and watch the memory usage grow.

The mat analysis is as follows:

![image](https://user-images.githubusercontent.com/15622265/57356935-4c49f000-71a4-11e9-8182-7955f8

[2019-05-08 10:13] vietj commented on #133
it looks like a leak

[2019-05-08 17:27] vietj commented on #133
how do you reproduce this ? what is your scenario ?

[2019-05-31 12:11] dsimansk opened #134 "Conversion of will msg byte array of null to String causes deadlock"
Server & Client can be used to reproduce the behavior.

The retrieval of the will message for the cases that in fact incoming isn't will, the usage of the following method `getWillMessage()` will cause the server deadlock waiting to convert null byte array.

https://github.com/vert-x3/vertx-mqtt/blob/d05c597533b29fee733b18e1500a0c4357a1bb40/src/main/java/examples/VertxMqttServerExamples.java#L52-L

[2019-05-31 12:16] dsimansk opened #135 "MqttWill constructor from JsonObject is parsing wrong key as willQos"
Constructor code in comparison to `toJson` method is getting `willQos` value from wrong key.

https://github.com/vert-x3/vertx-mqtt/blob/d05c597533b29fee733b18e1500a0c4357a1bb40/src/main/java/io/vertx/mqtt/MqttWill.java#L58-L64

https://github.com/vert-x3/vertx-mqtt/blob/d05c597533b29fee733b18e1500a0c4357a1bb40/src/main/java/io/vertx/mqtt/MqttWill.java#L142-L150

[2019-06-20 08:18] shubhm-agrwl opened #136 ""An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.""
When I am starting 20 new Vertx instances to start 20 MQTT Brokers, I am getting an error in one of the mqtt brokers and is not able to initiate.

Code to start 20 instances:

         cluster.result().deployVerticle(
              "com.abc.abc",
              new DeploymentOptions().setWorkerPoolName("coffee-making-pool")
                  .setWorkerPoolSize(100).setInstances(20).setWorker(true))

[2019-06-20 18:41] SivaSamrajS opened #137 "[vert.x-eventloop-thread-11:DefaultChannelPipeline@1188] - An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception."
While starting with 20 new vertx instances with 20 ports, i am getting below error. Can you help me?

The version i am using is 3.6.2

`cluster.result().deployVerticle(
          "com.abc.abc",
          new DeploymentOptions().setWorkerPoolName("coffee-making-pool")
              .setWorkerPoolSize(100).setInstances(20).setWorker(true));`

`java.lang.Exception: Wrong message type io.netty.buffer.

[2019-06-23 13:43] ppatierno opened #138 "Eclipse migrated from iot.eclipse.org to mqtt.eclipse.org"
Following this discussion

https://bugs.eclipse.org/bugs/show_bug.cgi?id=541419

it seems that the public MQTT broker was migrated to `mqtt.eclipse.org` but currently it's down and the 1883 port it closed.
We should update the tests using the new one when and if will be up and running again.
Or we can think to change to `test.mosquitto.org`.

[2019-07-06 09:39] ppatierno commented on #138
It's confirmed by the following announcement:
https://blogs.eclipse.org/post/fr%C3%A9d%C3%A9ric-desbiens/eclipse-iot-mqtt-sandbox-move

[2019-07-06 10:54] #138 closed

[2019-07-09 16:53] vietj commented on #132
can you write a reproducer in Vertx MQTT testsuite to demonstrate this ?

[2019-07-09 17:39] vietj commented on #132
@paul-lysak can you look at https://github.com/vert-x3/vertx-mqtt/tree/handle-unsupported-protocol-version and check if that works for you ?

[2019-07-09 17:45] vietj commented on #132
if that's fine then it can be in 3.8 thanks for the detailed analysis it was helpful

[2019-07-09 18:44] ppatierno commented on #132
@vietj can you open a PR please so that I can review and discuss on this?

[2019-07-10 06:16] vietj commented on #132
done @ppatierno

[2019-07-10 06:19] paul-lysak commented on #132
@vietj appears to be good, thank you

[2019-07-10 06:52] vietj opened #142 "QoS 1 and 2 improvements"
Currently the implementation handles differently QoS 1 and 2 differently on the client and server

- the server will simply dispatch messages to the handlers and let the application be responsible to send publish messages and handle the corresponding state.
- the client will handle this automatically for the application.

Here is one proposal to enhance the implementations

- remove from the clien

[2019-07-10 06:53] vietj commented on #142
cc @ppatierno let me know what you think of this proposal

[2019-07-10 07:05] vietj opened #143 "Client message QoS state improvements"
Currently the client uses 3 `LinkedHashMap` to manage the message QoS.

- `qos1outbound` and `qos2outbound` can be replaced by `HashSet` as we don't need to retain the original message for later use
- `qos2inbound` can be replaced by `HashMap` as we don't need to retain any specific order

Both changes will improve GC and memory usage on the client.

In addition the `qos2inbound` as a leak (report

[2019-07-10 07:07] vietj commented on #133
this is definitely a bug, there is a bug fix for this coming in 3.8

[2019-07-11 16:00] #143 closed

[2019-07-11 16:00] #133 closed

[2019-07-14 08:13] #132 closed

[2019-07-14 16:15] vietj commented on #106
@konradmichael the deadlock you are observing has been fixed in this commit https://github.com/eclipse-vertx/vert.x/commit/d717e7556bc7511276ca8bc1fe49b93ced9093ca#diff-464255635b4e404921051fc7ba93471f as part of https://github.com/eclipse-vertx/vert.x/issues/2916

upgrading to 3.7.1 should fix the issue for you

for the general issue there has been deadlock fixes since it was published (in additi

[2019-07-14 16:15] #106 closed

[2019-07-26 13:34] vietj opened #145 "MQTT futurisation"

[2019-07-26 13:44] #145 closed

[2019-08-26 00:59] leeflying315 opened #146 "Mqtt Server Use Boring SSL cause memory leak"
MQTT server use boring ssl, netty-tcnative-boringssl-static version is latest 2.0.25Final. At first, momory incresed normal, but when client connection is closed, none heap memory still can't free. I used full GC, the none-headp memory still unchanged.
It confused me serveral daya, should i do something to release open ssl context？or it's a bug？

[2019-08-29 02:19] leeflying315 commented on #146
After several days tests , the server occupys too much memory , but it has a top value and dosen't release memory, which is bigger than heap momory a lot. it confused me , i use visualvm and invoke netty direct , the direct value is  32MB ,and doesn't increase. So what is the excess memory?

can anyone explain this? Thanks

[2019-08-29 02:37] vietj commented on #146
can you make a reproducer for this ? have you looked at Netty's issue tracker to find such issue ?

[2019-08-29 07:45] francois-travais commented on #6
@ppatierno Do you plan on doing something about this one in a near future?

[2019-09-02 15:51] ppatierno commented on #6
@francois-travais I am sorry nothing planned for this kind of support but PRs from the community are very welcome! :-)

[2019-09-03 03:13] leeflying315 commented on #122
have you tried to use boring ssl ? or open ssl

[2019-09-05 12:58] leeflying315 commented on #146
thanks, I search lots of informations, but no issue seems to related to this. Cloud u explain why momory cloudn't release ? or i misconfigure some params.

[2019-10-20 03:26] sdvdxl opened #147 "how to get client ip info"
In the endpoint I can not find the method of ip info,Is there any way to get it？

[2019-10-20 09:19] vietj commented on #147
on the endpoint you have:

[code]

[2019-10-20 09:19] #147 closed

[2019-11-10 02:04] sdvdxl opened #150 "exceptionHandler not work"
I set the exceptionHandlers :

[code]
 and the code will throw NullException if not set auth info :

`endpoint.auth().toJson()`

but no errors were printed, and not running into the handler using debug, but in vetrx InboundBuffer.java , exceptionHandler is null

[code]

Is there something wrong?

[2019-11-11 18:00] eriknyk commented on #106
Hi I'm having same issue, inmy case with `kafkaConsumer.handler()`

[code]
I got the error:

[code]

I've tried to execute the call that taking a while becuase it is a soap call, inside a:
[code]

But the error persist.

Any help we be appreciated,
Best Regards.

[2019-11-14 20:32] mhball opened #151 "MqttClient.isConnected() returns true after call to MqttClient.disconnect()"
The following Kotlin snippet prints true.
[code]

It seems an intentional disconnect doesn't set the isConnected flag to false.

[2019-12-06 02:35] sdvdxl opened #152 "does it support proxy_protocol of haproxy or nginx"
Does it support proxy_protocol of haproxy or nginx ?

[2020-01-02 15:44] ppatierno commented on #152
can you elaborate your needs a little bit more please?

[2020-01-07 06:09] sdvdxl commented on #152
deploy several mqtt server after haproxy(or nginx)， mqtt server cannot get the real client ip.
haproxy supports proxy_protocol and can transfer the real ip

[2020-01-18 10:13] ppatierno commented on #152
It's not about MQTT server it's about MQTT 3.1.1 protocol. It's a protocol on top of TCP as well as PROXY protocol right and it's not supported by specification. An example of additional protocol supported in the MQTT world is about SASL for the authentication but it was added in the v5.0 (anyway not related to PROXY protocol but just for highlighting that it's about protocol).
Maybe the MQTT serv

[2020-02-15 01:04] macjunk-ie opened #153 "MQTT client uses the main event loop to execute an SSL handshake even if it is being invoked from a worker verticle"
Scenario:
I have a SSL enabled Active MQ broker.
There are two types of clients:
1) A verticle that publishes a single message to the broker
2) A worker verticle that publishes a single message to the broker

Issue:
- The logs tell me that in the case of the worker verticle, the SSL handshake happens on the main event loop. The CONNECT frame of the MQTT client however, is sent using the worker poo

[2020-02-17 10:39] Sammers21 commented on #153
@macjunk-ie , i think it would be better if you create a sample application with steps to replicate the issue.

[2020-03-02 16:59] vietj commented on #153
I believe it is a fair point and we should configure the underlying `NetSocket` to always use event-loop delivered events and then in the MQTT layer handle the worker delegation when going in the application

[2020-04-03 17:47] alexei-osipov commented on #150
The exception handler that you need to set is the MqttServerImpl.server.exceptionHandler.

The problem that Vert.x API for MqttServer does not provide any means to reach MqttServerImpl.server and set that handler.

So, yes, MqttServer.exceptionHandler does not work (as expected).

[2020-04-04 07:36] vietj commented on #150
this should be reported now in 3.9.0 since we fixed this issue https://github.com/eclipse-vertx/vert.x/commit/c2bb2e8a8bce380467fddb80d10197749ff21349#diff-464255635b4e404921051fc7ba93471f

[2020-04-04 07:36] #150 closed

[2020-04-04 07:36] vietj commented on #150
see https://github.com/eclipse-vertx/vert.x/issues/3272

[2020-06-09 19:50] deen13 opened #159 "MQTT client dies if the broker does not send a CONNACK message"
### Version

4.0.0-SNAPSHOT

### Context

I encountered an exception which looks suspicious while implementing the reconnect mechanism of our service. I'd like our verticle to retry the initial connection until the broker is up and running which works quiet well if the broker is fast enough. Otherwise, if the broker accepts the TCP connection but does not send a CONNACK message, the connectPromise

[2020-06-09 20:58] vietj commented on #159
do you know if that happens in 3.9 ?

[2020-06-10 07:07] deen13 commented on #159
Sorry the version might be misleading. Yes that behaviour is exact the same in 3.9.1.

[2020-06-10 08:27] deen13 commented on #159
I've just encountered that the client is also stuck if it retries to connect in the `closeHandler` immediately after the broker has closed the connection and therefore is within the shutdown process.

[2020-06-10 08:48] deen13 commented on #159
[Specification](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718033):

[2020-07-14 13:20] paul-lysak opened #161 "MQTT v5 support"
Hello. We'd like `vertx-mqtt` to support MQTT v5 (https://docs.oasis-open.org/mqtt/mqtt/v5.0/mqtt-v5.0.html) and we're willing to develop such changes.
Before we started, could you give us some guidelines on how to make sure that our MQTT5-related changes are suitable for merging back into the upstream `vertx-mqtt`?

In particular, what's the best way to change `netty-codec-mqtt` - Netty maintaine

[2020-07-15 08:31] ppatierno commented on #161
Tbh I didn't get what the comment "This was moved to an alternative project" means? Which alternative project? I think that the matt v5 coded should be part of netty and not of this project as we do for mqtt 3.1.
Why can't you work on mqtt 5 codec for netty and then reusing it here?

[2020-07-15 08:55] ppatierno commented on #161
I found the codec was moved here https://github.com/moquette-io/netty-mqtt5-codec
Maybe you can use it?

[2020-07-15 08:56] ppatierno commented on #161
The only thing I see is about how much it's supported. There are just 2 commits and 2 years ago. :-(

[2020-07-15 09:03] paul-lysak commented on #161
That's the issue. Another problem is that its artifacts aren't deployed to any public Maven repository.  I'll try to ping Netty maintainers again to see what they think on MQTT5. If they still don't respond - we can release an artifact based on https://github.com/moquette-io/netty-mqtt5-codec and do the changes in `vertx-mqtt` to use it.

[2020-08-10 09:14] sophokles73 commented on #72
The client should simply have an option to configure the maximum amount of time it will wait for a CONNACK from the server before it closes the connection. BTW the client has the same problem when sending a PUBLISH for a message using QoS 1 and/or 2. It will not time out while waiting for a PUBACK. Thus, if the server does not send a PUBACK (or it gets lost somehow), the message will remain in the

[2020-08-13 07:23] sophokles73 opened #162 "MQTT client never removes messages from outbound queue if not ACKed"
### Version

Which version(s) did you encounter this bug ?

3.9.2

### Context

When the MQTT client is used to publish a message using QoS 1 and the server does not send a PUBACK for the message, then the message will remain forever in the client's `qos1outbound` queue. If this happens repeatedly, the limit set by *maxInflightQueue* will eventually be exceeded and the client can no longer send an

[2020-08-13 07:55] vietj commented on #162
I think best option would be a timer that removes the pending message and fails the associated future is failed with a `TimeoutException`.

In addition we should provide two event handlers

- one for phantom acks (there is already a statement for this `log.warn("Received PUBACK packet without having related PUBLISH packet in storage")`)
- one for expired message

Both provide the opportunity to th

[2020-08-13 08:30] sophokles73 commented on #162
Sounds good.

We could do that by means of overloading the *publishCompletionHandler* method with new/different handlers, e.g.
[code]
FMPOV we should then deprecate the original one. WDYT?

[2020-08-13 08:33] vietj commented on #162
I think it would be better another distinct handler

[2020-08-13 08:35] vietj commented on #162
that being said I think we cannot use AsyncResult<Integer> here instead we should have 3 handlers

- `publishCompletionHandler(Handler<Integer>)` (existing one)
- `publicCompletionExpirationHandler(Handler<Integer>)`
- `publishCompletionPhantomHandler(Handler<Integer>)`

sorry for bugging with `TimeoutException`

[2020-08-13 08:38] sophokles73 commented on #162
I see, we need to convey the message ID in case of an expired PUBLISH. Makes sense.
But we still agree that when a  PUBLISH expires, we always remove the message from the outbound queue, right?
I can create a corresponding PR based on this, ok?

[2020-08-13 14:21] vietj commented on #162
yes that's the goal you initially had

[2020-08-13 14:21] vietj commented on #162
yu will get reviewed anyway

[2020-08-14 05:43] sophokles73 commented on #162
@vietj should I create the PR against `master` or the `3.9` branch?

[2020-08-14 11:24] vietj commented on #162
you can PR against master, we review it then we back port.

[2020-08-14 14:39] paul-lysak commented on #161
I've submitted a PR to the Netty: https://github.com/netty/netty/pull/10483 . It's based on https://github.com/moquette-io/netty-mqtt5-codec with some corrections and improvements. Let's see how will they react now :)

[2020-08-20 14:07] mbaeuerle opened #164 "Possible memory leak when using many MqttClient instances one after another"
### Questions

-

### Version

Which version(s) did you encounter this bug ?
3.9.1

### Context

The setup is as follows:
A Vert.X MqttClient is created, connecting, sending/receiving some data and then closing the connection again.
This is done multiple times per minute each time a new MqttClient is created, overwriting the last one.
It seems after ca 2h the JVM uses 200-300MB more memory than be

[2020-08-20 14:38] vietj commented on #164
can you perform a heap dump when this happens and post it somewhere ?

[2020-08-24 13:22] sophokles73 commented on #164
Here's a Gist with a reproducer: https://gist.github.com/sophokles73/84965340c3098478a6a2a1164cecbb67
And a profiler snapshot that can be opened with VisualVM. The snapshot has been taken after about 2500 connect/dsiconnect cycles using the gist above.
[vertx-mqtt-client-snapshot-1598274789602.zip](https://github.com/vert-x3/vertx-mqtt/files/5118026/vertx-mqtt-client-snapshot-1598274789602.zip)

[2020-08-24 16:17] vietj commented on #164
thanks

[2020-08-24 16:18] vietj commented on #164
scheduled for 3.9.3 - any help wanted!

[2020-08-25 08:27] sophokles73 commented on #164
I have run the test against vertx-mqtt master which is based on vert.x 4.0.0-SNAPSHOT. The problem doesn't occur there which is probably due to some changes in the NetClientImpl class there.
In any case, it seems to be the right thing for the MqttClientImpl to close the NetClientImpl instead of just the NetSocketImpl in any case so I will create a corresponding PR against master which can then als

[2020-08-31 11:45] ppatierno commented on #161
@paul-lysak and it was approved! Congrats!
Now if you are willing to work on this for adding the support to the Vert.x MQTT library, I would say to:

1. trying to do it in steps, not a huge PR but little PRs adding incremental features. It's easy to review for us.
2. I would do only for the master, so for future Vert.x 4 and not for 3.9. I would expect too much work for backporting due to the diff

[2020-08-31 11:59] paul-lysak commented on #161
Thank you! Will start work on it after the nearest Netty release. I'll try to split it into parts wherever possible.

[2020-09-11 12:20] paul-lysak commented on #161
We've decided not to go forward with providing PR for this issue: I've tried to do the necessary changes and turned out that satisfying code generator (for classes marked with `@VertxGen`) will take more effort and require more wrapping than just copying and adapting to our use case. For example, the code generator was not happy when I've added to `MqttConnAckMessage` new `create` method that take

[2020-09-11 12:40] vietj commented on #161
@paul-lysak can you reconsider this choice if we help you on this ?

e.g if you annotate the method with `@GenIgnore()` then the code generator will ignore this method , etc...

[2020-09-11 12:48] paul-lysak commented on #161
@vietj what is exact purpose of `@VertxGen` in `MqttConnAckMessage` and other classes? How do I know which methods I may ignore and which not? Tried to ignore original `connect` method - `mvn verify` seems to pass just fine. I may consider contributions, but it's not going to be a priority.

[2020-09-11 12:52] vietj commented on #161
the goal is to code generate API in other languages, e.g the Vert.x RxJava 2 API is generated using it.

in general just add `@GenIgnore` everywhere you need it in VertxGen class and if we can share a working branch we (maintainer of vertx) will take care of making this work for you.

[2020-09-11 13:05] paul-lysak commented on #161
Ok, reopened https://github.com/vert-x3/vertx-dependencies/pull/49 and https://github.com/vert-x3/vertx-mqtt/pull/168. Will try to contribute more occasionally.

[2020-09-15 14:28] #164 closed

[2020-09-15 14:28] #162 closed

[2020-10-07 09:06] vietj commented on #152
@sdvdxl now it should support proxy protocol, since it is implemented in master. See https://vertx-web-site.github.io/docs/vertx-core/java/#_using_ha_proxy_protocol . Since MqttServerOptions extends NetServerOptions setting the `setUseProxyProtocol` boolean should work

[2020-10-07 09:06] #152 closed

[2020-10-07 09:07] #146 closed

[2020-10-07 16:46] vietj opened #175 "Rename keepAliveTimeSeconds to keepAliveIdleTimeout"
The `MqttClientOptions#keepAliveTimeSeconds` name does not correctly describe itself. In addition with the recent addition of `keepAliveTimeout` it is even more confusing. We should rename this option to `keepAliveIdleTimeout` and deprecate the other one. This will be removed in master.

[2020-10-07 16:58] #123 closed

[2020-10-07 16:59] #124 closed

[2020-10-08 10:02] #175 closed

[2020-10-09 02:40] nxtxdouwyjun opened #176 "The from json constructor and to json method of MqttWill class are not reversible"
MqttWill class has a from json constructor:
[code]
and a to json method:
[code]
But these two are not reversible, which means, if I create a MqttWill instance by:
[code]
and then get a json by toJson method, and then call MqttWill(JsonObject json) constructor will get a MqttWill instance which the message field is different!!!
I have found the reason. It is because of when call toJson method, will

[2020-10-09 14:16] vietj commented on #153
@macjunk-ie the SSL handshake is performed by Netty and will always be done on the event loop independently of using Vert.x client as a worker or as an event-loop verticle

[2020-10-09 14:17] vietj commented on #153
When using a client from a worker verticle, then the verticle and the actual client code communicate using message passing so it's normal to have this

[2020-10-12 08:09] vietj opened #177 "Client concurrent connect"
The client does not handle gracefully concurrent connect, when the client is not connecting, it transitions to connect state. However when it's already connecting, it will overwrite the current state leaving the client and the first connection attempt in an unpredictable state. Instead it should simply fail and let the connection in process finish.

[2020-10-12 08:10] #177 closed

[2020-10-12 08:11] vietj commented on #159
can you provide an actual reproducer ? I tried to reproduce but could not. For the second case I tried also with master and it works, I added a test for this in https://github.com/vert-x3/vertx-mqtt/commit/f3cab009d8dd70fd84ff8f66a6ee344a07be75da

[2020-10-12 08:11] #159 closed

[2020-10-12 08:32] vietj commented on #151
actually it does but once the TCP connection is closed, I think it should be done before

[2020-10-13 09:46] vietj opened #178 "Enhance internal client lifecycle"
The client is designed to have reusable instances between connect/disconnect cycles. The internal state management needs to be more accurate to handle reconnection when a client is being disconnected or failed.

[2020-10-13 09:59] #178 closed

[2020-10-13 09:59] vietj commented on #151
See https://github.com/vert-x3/vertx-mqtt/pull/179

[2020-10-13 09:59] #151 closed

[2020-10-13 10:00] vietj commented on #137
Can you check with latest version if that still happen ?

[2020-10-13 10:00] #137 closed

[2020-10-13 10:00] vietj commented on #136
Can you check with latest version if that still happen ?

[2020-10-13 10:00] #136 closed

[2020-10-13 12:54] #135 closed

[2020-10-13 12:54] #176 closed

[2020-10-13 13:41] vietj opened #180 "Remove deprecated methods"
A few methods have been deprecated in Vert.x 3, they are removed in Vert.x 4

[2020-10-13 13:42] #180 closed

[2020-10-13 13:42] #64 closed

[2020-10-20 09:31] lonelyleaf opened #181 "java.lang.ClassCastException when subscribe mqtt topic"
### Questions
After mqtt established connection and subscribe topic the client throws excption

[code]

### Version

vertx 3.9.4

### Context

jdk11
gradle 6.6

[log.txt](https://github.com/vert-x3/vertx-mqtt/files/5407788/log.txt)
![mqtt-bug1](https://user-images.githubusercontent.com/9879800/96568020-0df1b380-12fa-11eb-9cb1-c2b864ffc970.png)
![mqtt bug2](https://user-images.githubusercontent.com

[2020-10-21 00:59] lonelyleaf opened #182 "java.lang.ClassCastException when subscribe mqtt topic"
### Questions
After mqtt established connection and subscribe topic the client throws excption

[code]

### Version

vertx 3.9.4

### Context

jdk11
gradle 6.6

[log.txt](https://github.com/vert-x3/vertx-mqtt/files/5407788/log.txt)
![mqtt-bug1](https://user-images.githubusercontent.com/9879800/96568020-0df1b380-12fa-11eb-9cb1-c2b864ffc970.png)
![mqtt bug2](https://user-images.githubusercontent.com

[2020-10-21 01:00] #181 closed

[2020-10-21 08:14] lonelyleaf commented on #182
Can be reproduce by this.Import it with gradle
[vertx-mqtt-test.zip](https://github.com/vert-x3/vertx-mqtt/files/5414272/vertx-mqtt-test.zip)

[2020-10-21 08:33] #153 closed

[2020-11-24 22:46] manju-reddys commented on #161
Mqtt V5 support will be added as part of Vertx V4 release?

[2020-11-25 08:23] vietj commented on #161
@manju-reddys we are missing contributors for this, so it will be added if somebody contributes it

[2020-11-25 08:23] vietj commented on #161
@paul-lysak is motivated to contribute it, I don't know what's the current status of his contribution

[2020-11-25 08:24] paul-lysak commented on #161
@vietj all the contributions are blocked by https://github.com/vert-x3/vertx-dependencies/pull/49

[2020-11-25 11:46] vietj commented on #161
@paul-lysak yes I remember now.

Perhaps you can try override these dependencies in the vertx-mqtt pom file of a working branch until we sort this out ?

[2020-12-01 11:01] AlmostRuio commented on #123
@vietj  @konradmichael  Hello, any chance that this fix will be applied to 4.0.0? In our project we are actually using 4.0.0.CR1 and we have this problem. Thank you and have a nice day!

[2020-12-01 11:56] vietj commented on #123
it is supposedly applied https://github.com/vert-x3/vertx-mqtt/pull/173

do you have a reproducer ?

[2020-12-01 14:02] AlmostRuio commented on #123
@vietj i hope i didn't forgot something in my code, if is the case i'm really sorry.
The server is moquitto, running in a local docker image.
vertx 4.0.0.RC2

[code]

[2020-12-01 15:33] vietj commented on #123
can you open a new issue with the reproducer ? if you can provide a project it is better.

[2020-12-02 07:07] AlmostRuio opened #183 "vertx-mqtt Auto keep alive not working"
Vert.x 4.0.0.CR2

The auto keep alive in MqttClientOptions seems not to be working.

Reproducer:
https://github.com/AlmostRuio/vertx-mqtt-timeout

Reproduce: build the project and run the Main:
- Every 30-40 seconds the connection is lost.

Client is my code, server from [examples](https://github.com/vert-x3/vertx-examples/blob/4.x/mqtt-examples/src/main/java/io/vertx/example/mqtt/app/Server.java)

[2020-12-02 07:08] AlmostRuio commented on #123
@vietj done
https://github.com/vert-x3/vertx-mqtt/issues/183

[2020-12-02 07:20] vietj commented on #123
thanks @AlmostRuio

[2020-12-04 20:46] vietj commented on #183
I'll try solving this before 4.0.0 GA

[2020-12-05 10:16] vietj commented on #183
thanks for the reproducer, indeed sending message prevents sending ping req, I'll investigate

[2020-12-05 11:29] vietj opened #184 "MQTT client auto keep-alive disconnects the client too aggressively"
The implementation of the MQTT client auto keep-alive disconnects the client when it does not receive any message. When the client keep sending message, the client will not send ping requests and therefore the server will not send a ping response. In this situation the client will close the connection.

[2020-12-05 11:33] vietj opened #185 "MQTT client ping should always disconnect the client when sending a ping"
The implementation of the client `ping()` method does not set a timer to disconnect the client. It relies on a generic `IdleStateHandler` that disconnects the client when it has not received a response. This works with auto-keep alive but does not work when auto keep-alive is disabled and the client manually sends a ping request. MQTT mandates to disconnect the client when it has not received a re

[2020-12-05 11:37] vietj commented on #183
@AlmostRuio can you have a look https://github.com/vert-x3/vertx-mqtt/pull/186 ?

[2020-12-06 09:38] #183 closed

[2020-12-06 09:38] #184 closed

[2020-12-06 09:38] #185 closed

[2020-12-07 07:14] AlmostRuio commented on #183
Sorry I missed the request, have a nice day.

[2020-12-10 08:23] 0yves0 opened #188 "Subscriber is disconnected by broker when using QoS0 and frequently receiving messages"
This issue has been opened after a discussion with Julien on the Vertx user group. https://groups.google.com/g/vertx/c/CKYmKsmtGjA/m/nL85dtFMBAAJ

### Version
Found in 3.9.4
Repoduced in 3.9.5 & 4.0.0

### Context

After updating my application from Vert.x 3.9.3 to 3.9.4 and made the appropriate changes due to new deprecated features, I encountered MQTT client disconnections when subscribing to a

[2020-12-10 10:39] vietj commented on #188
@0yves0 thanks for the reproducer, so it is a similar issue that was fixed previously in the commit I exhibited but this time with the server sending messages that we did not care about when fixing the client sending messages case.

[2020-12-10 10:41] vietj opened #189 "Client auto keep-alive will not send ping message when receiving server messages"
The implementation of client auto keep-alive will not send ping when the client sends (which is expected) or the server sends (which is unexpected) messages, which will lead to a client disconnection when a client subscribe to a topic and receive messages periodically (which is a very common MQTT use case).

[2020-12-10 10:49] #189 closed

[2020-12-10 10:49] #188 closed

[2020-12-10 13:37] vietj commented on #182
I think the issue is that because you are using Spring Webflux that imports Netty 4.1.52.Final and Vert.x uses 4.1.49.Final, can you try force the version to 4.1.49.Final ?

[2020-12-11 03:36] lonelyleaf commented on #182
@vietj Your are right,forcing the version to 4.1.49.Final can solve this problem.

[2020-12-11 11:10] vietj commented on #182
thanks @lonelyleaf

[2020-12-11 11:10] #182 closed

[2020-12-15 12:27] AlmostRuio opened #190 "Subcribed client doesn't ping the server while receiving messages, QoS=0 (no ack)."
Vertx 4.0.0

### Context

The MqttClient seems to stop pinging while receiving messages with QoS=0 (no ack). The client is disconnected after keep alive is expired.

### Reproducer

https://github.com/AlmostRuio/vertx-mqtt-timeout

#### Steps  to reproduce

1. Start a local broker (e.g. [eclipse-mosquitto Docker Official Images](https://hub.docker.com/_/eclipse-mosquitto/))
1. Build the reproducer

[2020-12-15 12:55] vietj commented on #190
this has been fixed in master, can you give a try with latest 4.0.1-SNAPSHOT version ? https://github.com/vert-x3/vertx-mqtt/issues/189

[2020-12-15 12:55] vietj commented on #190
tagging duplicate as suspected to be a duplicate

[2020-12-15 13:13] #190 closed

[2020-12-15 15:22] AlmostRuio commented on #190
I found the snapshot only here https://oss.sonatype.org/content/repositories/snapshots/io/vertx/vertx-mqtt/4.0.1-SNAPSHOT/
But the latest build is from 07.12.2020, so your fix isn't in it. (Tested)

Alternatively i can build my self the whole project but i don't know which project(s) to clone.
I didn't find any documentation.

Thanks anyway :)

[2020-12-15 21:20] vietj commented on #190
yes please, we have an issue with CI that does not pass currently.

On Tue, Dec 15, 2020 at 4:22 PM AlmostRuio <notifications@github.com> wrote:

[2020-12-16 06:53] AlmostRuio commented on #190
@vietj some how I built successfully the 4.0.1-SNAPSHOT.
I can confirm, the bug is **fixed** and is a duplicate of #189.

Thank you and have a nice one.

[2020-12-24 07:10] liuchengts opened #191 "The problem of receiving message length limitation"
I am using version 3.8.5 to 4.0.0

Environmental description：
jdk : OpenJDK 64-Bit Server 1.8.0_275
os :  Ubuntu 18.04.3 LTS
os Kernel version 4.15.0-68-generic

There is a question about the length of the received message.

Please allow me to describe：
   I now have a 1047-character mqtt message, which cannot be received through vertx-mqtt v4.0.0, and once this message is sent to the mqtt server,

[2021-01-04 09:05] vietj commented on #191
do you have a reproducer for this issue @liuchengts ?

[2021-01-04 09:19] liuchengts commented on #191
Here is the client code：

private void client() {
    MqttClientOptions mqttClientOptions = new MqttClientOptions();
//    mqttClientOptions.setMaxInflightQueue(9999);
//    mqttClientOptions.setAutoKeepAlive(true);
    mqttClient = MqttClient.create(vertx, mqttClientOptions);
    mqttClient.connect(config.getMqttPort(), config.getMqttIp(), c -> {
      if (c.succeeded()) {
        mqttClient.subs

[2021-01-16 07:32] chenziyi2018 opened #192 "subscriber cant receive topic message"
### Questions
* subscriber cant receive topic message
### Version
4.0.0
### Context

* client code

`@Slf4j
public class MqttClientVerticle extends AbstractVerticle {
    /**
     * If your verticle does a simple, synchronous start-up then override this method and put your start-up
     * code in here.
     *
     * @throws Exception
     */
    private MqttClient mqttClient;

    @Override
    pu

[2021-01-16 07:38] chenziyi2018 commented on #192
sorry its not bug， I used a wrong tag

[2021-01-18 08:37] vietj commented on #192
is it a bug or a question ?

[2021-01-20 03:14] chenziyi2018 commented on #192
its a question.  I write a demo like this,  bug it not work : subscriber cant receive the published message.

 i want to use the vertx in my project. but development documents are too less, and the samples are too simple.  can you give me some
suggests?

[2021-02-02 10:05] vietj commented on #191
@liuchengts can you provide a full project reproducing the issue ?

[2021-02-08 04:18] liuchengts commented on #191
Well, I wrote an example specifically for this, so check it out here

https://github.com/liuchengts/vertx-mqtt-demo

[2021-03-03 16:10] paul-lysak commented on #161
I've started to work on back-porting MQTT5 changes from our system to this repository. @vietj  you can see the work in progress here: https://github.com/simplematter/vertx-mqtt/tree/mqtt5 .  Let me know if you have any feedback on that.

[2021-03-08 15:41] vietj commented on #161
thanks for heads up @paul-lysak !

[2021-03-11 13:54] paul-lysak commented on #161
Here comes server-side support (except of AUTH message): https://github.com/vert-x3/vertx-mqtt/pull/194

[2021-03-17 17:07] Gondolav commented on #191
I have a similar problem, large messages are not received by the MQTT server.

[2021-04-04 11:38] jmadeira commented on #136
Also with the same issue:
`13:29:02.415 [vert.x-eventloop-thread-0] WARN io.netty.channel.DefaultChannelPipeline - An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.
java.lang.NoSuchMethodError: 'boolean io.netty.buffer.ByteBuf.isContiguous()'
	at io.netty.handler.codec.ByteToMessageDecod

[2021-04-06 06:33] vietj commented on #136
do you have a reproducer ?

[2021-04-06 06:33] vietj commented on #136
it looks like also that this is triggered by a wrong Netty jar files in yoru case : "boolean io.netty.buffer.ByteBuf.isContiguous()"

[2021-04-06 19:35] jmadeira commented on #136
Just try a gridsearch and try to check the arbiter URL.
The gridsearch works fine but when I check the URL this error pops up.

[2021-04-06 21:37] vietj commented on #136
do you have a project that you can share on github that reproduces the issue ?

[2021-04-23 08:17] kruckerr opened #195 "MqttClient status remain "connecting" after connection timeout."
### Questions

When opening a connection fails, e.g. ConnectionTimeout due to a network issue, the status of the MqttClient does not change to closed. When try to connect again (network is there again at this time), an exception is thrown with the message "Client connecting".

### Version

4.0.3

### Context

As soon as the MqttClient tries to connect again after first attempt failed, this excepti

[2021-04-23 12:49] vietj commented on #195
can you give steps to precisely reproduce or a reproducer ?

[2021-04-23 12:50] vietj commented on #195
by connection timeout, do you mean a socket that would connect but the server would not send any data back ? or timeout to establish the socket ?

[2021-04-23 13:44] kruckerr commented on #195
By connection timeout, I mean a timeout to establish the socket, e.g. when try to connect to a server during network cable is plugged out.

### Reproduce

I wrote quick and dirty a test, that simulate that behaviour. The MQTT server is not reachable. The first connection attempt will fail after some time the message, that the server is not reachable, which is ok. But the second attempt fails immed

[2021-04-26 06:36] vietj commented on #195
thanks

[2021-04-26 10:16] #195 closed

[2021-04-26 12:27] vietj commented on #191
thanks I'll have a look soon

[2021-05-14 17:22] zhengchalei commented on #192
I have the same problem,
[code]

but other clients subscribe topic can't get the message;
do you need to manually forward the subscription to other clients

[2021-05-19 04:04] sunqb commented on #192
how to get message from subscribe ? i can't find a method to get message from

[2021-05-19 04:11] sunqb commented on #192
method name is not good，i think 。 this is not a bug，i use 'publishHandler' to get message from subscribe

[2021-05-27 16:58] ctron opened #199 "Unable to unsubscribe from multiple topics at once"
#### Describe the feature

Currently there is an unsubscribe method, which only allows to unsubscribe from a single topic. However, with MQTT you can unsubscribe from multiple topic filters at the same time.

#### Use cases

Unsubscribe from multiple topics, in a single message.

[2021-05-27 17:10] ctron opened #200 "Unable to control ackowledgement of the message"
Currently it is not possible to control the acknowledgement of an MQTT message, as the client auto-acknowledges messages.

### Version

* 3.9.x
* 4.1.x

### Context

Receiving messages.

### Extra

Using QoS 1, the client currently auto-acknowledges messages received from a server, it also does this before calling the user provided handler:

https://github.com/vert-x3/vertx-mqtt/blob/5455c484347bd

[2021-05-30 15:04] chenzhiguo commented on #199
Yeah, MQTT topic filters are a very important feature, look at the source implementation, it doesn't seem to do this specifically, right?

[2021-05-30 15:36] chenzhiguo commented on #161
Has this feature been developed yet? Do you need any more help?

[2021-05-31 06:46] vietj commented on #200
does it mean that the message object could have an `ack()` method and we should have an auto-ack message option that would perform the current ack for retro compatibility ?

[2021-05-31 07:06] ppatierno commented on #200
I would agree with Julien but leaving autoack as default for backward compatibility of course.

[2021-06-03 10:44] laowangnj opened #201 "went error with mqtt.fx 1.7 when begin to connect"
An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.

java.lang.Exception: Wrong message type io.netty.buffer.UnpooledByteBufAllocator$InstrumentedUnpooledUnsafeHeapByteBuf
    at io.vertx.mqtt.impl.MqttServerConnection.handleMessage(MqttServerConnection.java:189) ~[vertx-mqtt-3.9.7.jar:3.9

[2021-06-03 13:51] vietj opened #202 "Incorrect handling of max message size"
The current Netty version (4.1.65.Final) does not correctly handle max message size anymore (https://github.com/netty/netty/issues/11361).

We should wait until this is fixed and upgrade to the correct version to solve this issue.

In the mean time we will comment the failing tests to not make the CI useless.

A work around is to force netty-mqtt-codec to use 4.1.63.Final.

[2021-06-03 13:52] vietj commented on #201
do you have a reproducer for this @laowangnj ?

[2021-06-05 11:00] laowangnj commented on #201
sometimes， http://www.jensd.de/apps/mqttfx/1.7.1/

[2021-06-07 06:28] vietj commented on #201
I mean a small vertx project with this client that shows how the error is happenign

[2021-06-09 09:02] ctron opened #203 "Unused client options manipulation"
In the constructor of the MQTT client, it looks like some changes in the past have changed the originally intended behavior:

https://github.com/vert-x3/vertx-mqtt/blob/9a91ad811c4e9fbe47306fc2666f9bc4bc8ec33c/src/main/java/io/vertx/mqtt/impl/MqttClientImpl.java#L156-L165

From what I see, the `netClientOptions` gets copied, manipulated, but then not used at all.

[2021-07-12 13:24] vietj opened #205 "MQTT V5 server support"
Contribution by @paul-lysak

[2021-07-12 13:30] #205 closed

[2021-07-23 14:59] pigbayspy commented on #191
如果你没有使用 MqttClientOptions.setMaxMessageSize 来设置最大消息长度的话，MqttClientImpl 的 initChannel 方法中会使用默认的 MqttDecoder 的构造方法，而默认的构造方法设置了 MqttDecoder  的 maxBytesInMessage 值为 8092，大小超过此限制的消息会处理失败。关键的代码如下：
[code]

[2021-07-26 08:48] liuchengts commented on #191
是的，我仔细看了这段代码当不指定的时候默认为-1 ，会进行new  MqttDecoder ()中默认的maxBytesInMessage=8092，我查阅了mqtt相关的mosquitto.conf：

[code]
因此我在代码中加入(第三行代码)，重新运行了示例，没有发现异常
[code]

[2021-07-26 09:00] #191 closed

[2021-07-26 09:04] Gondolav commented on #191
Why was this closed?

[2021-07-26 09:06] liuchengts commented on #191
After the above problem location and repair tests, the problem has been resolved

[2021-07-27 03:32] pigbayspy commented on #192
yeah, vertx-mqtt is not a fully featured MQTT broker. You need to complete pub/sub message passage by yourself.

[2021-08-17 09:56] Dustone-JavaWeb opened #206 "Support Websocket Both Client and Broker."
#### Describe the feature

The broker support the websocket in recent versions, I suggest to make Client support too.

#### Use cases

In most cases, The service will be deploy on an k8s instance or behind nginx with vitural host,  To make a tcp port bind for a container is not allowed in most companies,  At past we use an tcp proxy which handshake with websocket,  It feels not good.

#### Contrib

[2021-08-25 16:16] Dustone-JavaWeb commented on #206
@vietj

I had implemented it by adding WebSocket Client handshake before the pipeline.
Here is the code, Forgive me that I  don't know how to create a branch.

class file : io.vertx.mqtt.impl.MqttClientImpl

key code and total file
[code]
[code]
[code]
[code]

[code]

[2021-09-03 14:31] cescoffier opened #207 "Can't connect to mosquitto 2.0 anymore"
With Vert.x 4.2.0.Beta1, I can't connect to Mosquitto anymore.

I uses this test:

[code]

With Vert.x 4.1.3, it connects and everything is fine. With 4.2.0.Beta1, the same test gets a failure with "Closed" as the message.

[2021-09-03 15:54] vietj commented on #207
thanks

[2021-09-06 13:04] vietj commented on #207
it is a migration issue to mosquitto 2.0, you need to add `listener 1883` in `mosquitto.conf` see https://mosquitto.org/documentation/migrating-to-2-0/#listener-behaviour-changes

[2021-09-06 13:04] #207 closed

[2021-09-06 17:17] cescoffier commented on #207
Hum, it was already using mosquitto 2.0 before, but if that works, I'm good with it.

[2021-09-06 19:11] vietj commented on #207
When I looked at the wireshark capture, the server is closing the
connection before receiving the CONNECT message sent by the client.

then I tried your reproducer with other Vert.x versions and it failed the
same way.

you can run the image docker with your config and then do on the terminal :
nc localhost 1883

you will see it gets automatically disconnected whatsoever (normally the
server shoul

[2021-09-07 12:21] cescoffier commented on #207
Ok.. so... the image hashes are different... Invisible update, great!

Anyway, thanks for your help! I've added the missing line and everything works.

[2021-09-07 12:25] vietj commented on #207
no worries, I reused your code to add an integration test in vertx-mqtt
with the mosquitto image :-)

On Tue, Sep 7, 2021 at 2:21 PM Clement Escoffier ***@***.***>
wrote:

[2021-10-04 09:44] injecteer opened #208 "Provide methods in MqttEndpoint to access underlying http request"
Sometimes pre-checks must be performed upon handshake, like:
[code]
To prevent "DoS" attacks or check for authentication or other crtiterias beforehand and reject the connection immediately.

So, it should be possible to access underlying HttpServerRequest and it's methods.

[2021-10-14 13:40] tsegismont commented on #200
@ctron would you like to contribue?

[2021-10-18 14:33] injecteer commented on #208
@vietj can you also backport the fix to 3.9.x version?

[2021-11-17 15:27] mgsalafia opened #210 "The function MqttEndpoint.reject() close the NetSocketInternal before the client can receive the CONNACK"
I am using a browser version of mqtt.js to create an MQTT client and trying to connect with an MQTT broker created with vertx-mqtt.

When the broker reject the connection coming from the client from whatever reason, the client sometimes receive the CONNACK and sometimes don't (causing my mqtt.client to trying to reconnect indefinitely when a connack is not received).

From broker-side in my MqttEn

[2021-11-18 08:34] vietj commented on #210
I think it would be proper to close the connection after the future has been sent, can you try that and see what it gives ?

[2021-11-18 18:23] msalafia commented on #210
@vietj i changed the connack() method as follows:
[code]

and i still have my issue. But, i think my problem is not due to this because, as far i understand just going depth in the code, the instruction `this.write(connack)` runs on the event loop, thus this.close() runs only when the write() completes (the next cycle of the event loop). So i think the problem is related to how the client-side web

[2022-01-18 08:31] vietj commented on #210
do you know any way to reproduce this ?

[2022-01-18 08:41] msalafia commented on #210
I think you can try to develop a simple javascript mqtt client using mqtt.js (in browser, not node.js) that just connect to the vertx backend. In the `handle` function of the handler just reject the connection. This is the simplest scenario i think.

[2022-01-18 09:43] vietj commented on #210
@msalafia can you share a wireshark dump of the connection traffic ?

[2022-02-05 07:26] joggeli34 commented on #161
Are there any plans, that the client also supports v5?

[2022-02-05 07:52] vietj commented on #161
any contribution would be accepted, the core team has no bandwidth for
this  currently

On Sat, Feb 5, 2022 at 8:26 AM joggeli34 ***@***.***> wrote:

[2022-03-10 09:14] double-7 opened #211 "property is not assigned correctly"
https://github.com/vert-x3/vertx-mqtt/blob/9b8d4ab940c8f58af9e5c168542edb0e67f4fe65/src/main/java/io/vertx/mqtt/impl/MqttEndpointImpl.java#L445

The 'mqttproperties' property is not assigned correctly

[2022-03-10 13:32] vietj commented on #211
can you elaborate ?

[2022-03-11 01:10] double-7 commented on #211
` public MqttEndpointImpl subscribeAcknowledge(int subscribeMessageId, List<MqttSubAckReasonCode> reasonCodes, **MqttProperties properties**) {
    return subscribeAcknowledgeWithCode(subscribeMessageId,
      reasonCodes.stream().mapToInt(MqttSubAckReasonCode::value).toArray(),
      **MqttProperties.NO_PROPERTIES**);
  }`

The above is the code I think is defective, and the following is what I f

[2022-03-11 07:13] vietj commented on #211
ah right

[2022-03-11 07:22] vietj commented on #211
fixed thanks

[2022-03-11 07:22] #211 closed

[2022-03-13 22:00] alamothe commented on #123
@vietj It looks like the fix is not on master at all. We are using Vert.x 4.1.5 and it does not have the fix.

Any idea why?

[2022-03-13 22:07] alamothe commented on #123
This commit: https://github.com/vert-x3/vertx-mqtt/commit/1bae9fec06314921cbb28a8a9d1411c0565e687b

Changed `ALL_IDLE` to `WRITER_IDLE`.

We are still getting disconnected every 30 seconds.

[2022-04-02 01:12] 1ssqq1lxr opened #215 "Adding the handler of vertx mqtt will cause the net read / write index of metrics to be unable to be obtained normally. Addlast should be used instead of addbefore"
### Questions

Adding the handler of vertx mqtt will cause the net read / write index of metrics to be unable to be obtained normally. Addlast should be used instead of addbefore

### Version

Which version(s) did you encounter this bug ?

### Context

I encountered an exception which looks suspicious while ...

### Do you have a reproducer?

A reproducer is a simple project hosted on GitHub (or a

[2022-04-02 11:11] 1ssqq1lxr commented on #215
VertxHandler ：
protected void reportBytesRead(Object msg) {
        if (msg instanceof ByteBuf) {
            this.reportBytesRead((long)((ByteBuf)msg).readableBytes());
        }

    }
MqttEncoder && MqttDecoder is before VertxHandler ，so msg is Mqtt object

[2022-04-06 21:17] alamothe commented on #206
Currently, the broker can either work with native clients, or websocket clients, but not both. Can you please confirm?

In that case, I think it makes more sense to have the broker support both native and websocket clients at the same time. Most MQTT brokers support this.

[2022-05-02 11:38] vogler75 commented on #10
Hi, I have tried to set the MaximumMessageSize to greater than 64k, but this does not work with Websockets. When I set it to greater than 64k a client which sends a message bigger than 64k gets disconnected. Is there a way to set it to a value greate than 64k?

[2022-05-03 15:23] vogler75 opened #216 "Maximum MQTT msg payload with Websockets is limited to 64KB"
### Version

Version 4.2.6

### Context

I have tried to set the MaximumMessageSize to greater than 64k, but this does not work with Websockets. When I set it to greater than 64k, a client which sends a message bigger than 64k gets disconnected.

### Do you have a reproducer?

https://github.com/vogler75/automation-gateway
But it is not a simple one.

### Steps to reproduce

1. ... start Vertx bas

[2022-05-04 08:19] vietj commented on #10
the issue is about WebSocket limitations, if you set an exception handler you will get

[code]

[2022-05-04 08:29] vietj commented on #10
we will provide in 4.3 a setting to increase this value

[2022-05-04 08:34] vietj opened #217 "Server WebSocket max frame size configuration"
When using the WebSocket MQTT transport, the WebSocket max frame size can prevent large MQTT messages.

We should have an option to set the WebSocket max frame size to avoid this.

[2022-05-04 08:44] #217 closed

[2022-05-04 08:45] vietj commented on #216
See https://github.com/vert-x3/vertx-mqtt/pull/218

[2022-05-04 08:45] #216 closed

[2022-05-04 18:48] vogler75 commented on #10
Great! Thank you!

[2022-06-01 00:25] alamothe opened #219 "Can we share MqttClient between verticles?"
Read the docs and issues but haven't found this answered anywhere.

Is it safe to share `MqttClient` between verticles? Or should each verticle have its own `MqttClient`?

How is this different/same compared to `HttpClient`?

Thank you

[2022-06-08 03:51] ljwhx2002 opened #220 "how to use GlobalTrafficShapingHandler for the mqtt server？"
### Questions
we can use the trafficHandler on netty pipeline，buy it is unvisiable in the mqttserver。

such as:
trafficHandler = new GlobalTrafficShapingHandler(xxx);
ChannelPipeline pipeline = pipeline();
pipeline.addLast("global-traffic-shaping", trafficHandler);
-------
unfortunately, the pipeline is unvisiable in the mqttserver.

can I get the pipeline by someway?

[2022-06-08 07:50] vietj commented on #220
we could have an extension point of that @ljwhx2002

[2022-06-10 08:10] nanosek opened #221 "Allow Websocket URLs with Query Strings and make query string accessible for validations (extension to #208)"
#### Describe the feature

With #208 it is now possible to access the http headers and the URI that was used by MQTT clients to connect to the MQTT Broker. But unfortunately it seems access to the URI is not of much use for the endpoint handler because the only allowed base address of the URI that the Server will accept correctly is "/mqtt" (without any query parameters).

Would it be possible to

[2022-06-10 09:30] nanosek commented on #221
I am testing with 4.2.4 - and there it seems that the websocket handshake is not completed as soon as you add a query parameter - probably (but not yet confirmed) due to "io.netty.handler.codec.http.websocketx.WebSocketServerProtocolConfig#checkStartsWith  set to false because it is configured like that in io.vertx.mqtt.impl.MqttServerImpl#initChannel

The current behaviour is:
11:12:18.437 [vert.

[2022-06-13 07:24] nanosek commented on #221
@vietj : I am willing to help - but it seems to be indeed only a very small change - so if you have anyway something open in the area you can probably just sneak it it in.
The WebSocketServerProtocolConfig#checkStartsWith parameter set to "true" seems to solve it.

`    if(options.isUseWebSocket()) {

      int maxFrameSize = options.getWebSocketMaxFrameSize();
      boolean allowStartsWithURLs= o

[2022-06-22 03:21] MrXionGe opened #222 "Vert.x MQTT Ver5.0 support"
#### module: Vert.x MQTT
Do we have plans to implement full support for MQTT5.0?
I saw that it was mentioned in the documentation, MQTT5 support is about 90+% complete.
I want to create an MQTT Broker using "vert. x MQTT".

[2022-07-26 19:28] SivaAkiro commented on #199
Hi @vietj i would like to contribute. Let me know what is the process.

[2022-07-26 21:07] SivaAkiro commented on #199
MqttClientImpl Class.

 @Override
  public Future<Integer> unsubscribe(List<String> topics) {

    MqttFixedHeader fixedHeader = new MqttFixedHeader(
      MqttMessageType.UNSUBSCRIBE,
      false,
      AT_LEAST_ONCE,
      false,
      0);

    MqttMessageIdVariableHeader variableHeader = new MqttMessageIdAndPropertiesVariableHeader(
      nextMessageId(), MqttProperties.NO_PROPERTIES);

    Mqt

[2022-07-27 09:05] vietj commented on #199
you can read these

- https://github.com/vert-x3/.github/blob/478611907c326b37f676db4e3657b19278aa64cb/CONTRIBUTING.md
- https://docs.github.com/articles/github-community-guidelines

happy to have a PR @SivaAkiro

[2022-07-29 08:31] SivaAkiro commented on #200
can i take this feature? Please provide some information regarding this?

[2022-08-01 07:09] vietj commented on #200
@SivaAkiro yes you can, you can read the contribution guidelines

- https://github.com/vert-x3/.github/blob/478611907c326b37f676db4e3657b19278aa64cb/CONTRIBUTING.md

[2022-08-01 07:16] SivaAkiro commented on #200
Thanks, can I get some.information about this ticket.

[2022-08-01 07:17] SivaAkiro commented on #200
Thanks, can I get some.information about this ticket.

[2022-08-01 07:37] vietj commented on #200
- a `ack` method should be added to the message interface
- options would have an auto-ack boolean config that automatically ack the message on behalf of the user and that would be the default behavior
- when auto-ack is set to false, user has to call ack() to acknowledge the message

[2022-08-01 19:15] SivaAkiro commented on #200
Question, Options means MQTTClientOptions right?

[2022-08-02 20:12] vietj commented on #200
yes and also server options

On Mon, Aug 1, 2022 at 9:15 PM SivaAkiro ***@***.***> wrote:

[2022-08-03 13:01] SivaAkiro commented on #200
For QoS 1 every message, we need to check the whether this message should be auto ack or not. Default, all the messages will get auto-ack, if not user has to manually call the ack method.

We need to add the isAutoAck() in MqttPublishMessage Class and all the message which is received by the Client, will validate against this param?

Is my understanding correct?

[2022-08-04 02:35] pigbayspy commented on #219
No, you should not do this. I think it can not be shared by different verticle instances.

Please see this https://github.com/eclipse-vertx/vert.x/issues/1248#issuecomment-165722769

[2022-08-04 06:13] ppatierno commented on #200
No, you have the auto-ack boolean flag in the options ... so you have to check against it. A PUBLISH message cannot bring the information that it has to be auto-ack or not. It's a client or server configuration as we said.

[2022-08-04 07:19] vietj commented on #219
I think you can share a client between verticles, however handler will be called on a single event-loop that created the client.

[2022-08-04 07:27] pigbayspy commented on #219
In my impression, each verticle should have its own client. Is it a good way to share client between different verticle?

[2022-08-04 07:44] vietj commented on #219
I think it depends what you want to do and how many connections you want to
open to the mqtt server.

Publishing to the server can be done from any verticle.

On Thu, Aug 4, 2022 at 9:27 AM Yin Hang ***@***.***> wrote:

[2022-08-08 06:41] zhou-hao opened #227 "Mqtt client Performance issues?"
vertx version: `4.3.1`

code:
https://github.com/vert-x3/vertx-mqtt/blob/5264cc4d24ccacfa95b8e37b9906726a85958d2e/src/main/java/io/vertx/mqtt/impl/MqttClientImpl.java#L919

`String.format` may be is a performance problem?

<img width="423" alt="image" src="https://user-images.githubusercontent.com/7791838/183355157-50c6b13e-0a0f-4f67-98b7-ea39b6ce6843.png">

[2022-08-11 00:30] alamothe commented on #219
That's a huge gotcha, as it almost certainly means you have to deal with multi-threaded programming, which defeats the purpose of using Vert.x in the first place. So from the user perspective in 99% of cases the clients should not be shared.

However appreciate you explaining the constraints clearly.

[2022-08-11 09:30] vietj commented on #219
it's not really multi threaded because all processing message is done in a single event-loop.

Also I think the API usability could be improved and deal with multiple contexts, e.g now we have subscribe and process which are two separate operations:

[code]

instead we could have:

[code]

the message would be delivered on the context of the subscriber and not on the context of the connection.

If

[2022-08-11 09:46] vietj opened #228 "API improvements"
The current API lacks of usability regarding the correlation of operations.

### Subscription

A single publish handler is set that processes all messages, sub/unsub operations are done separately.

We can provide a message handler when a subscription is done that will deliver only the topic messages on the handler on the context defined at the subscription time.

[code]

would be replaced by:

[c

[2022-08-11 09:46] #219 closed

[2022-08-11 09:46] vietj commented on #219
See https://github.com/vert-x3/vertx-mqtt/issues/228

[2022-09-10 14:09] InfoSec812 opened #229 "Add Mutiny bindings for MQTT Client/Server"
#### Describe the feature

Currently, there do not appear to be any Mutiny bindings for the 4.x Vert.x versions of MQTT client/server. I would like to be able to use Mutiny with MQTT.

#### Use cases

It would allow developers to not have to mix reactive stream/async coordination mechanisms in their projects.

#### Contribution

I would be willing to help, but I would need some guidance.

[2022-09-12 09:59] vietj commented on #229
you should open this in the mutiny vertx generator, now generation happens in each RX / Mutiny project.

[2022-09-12 09:59] #229 closed

[2022-11-03 03:50] dfjb001 opened #230 "add MAX_CLIENT_ID_LENGTH in MqttServerOptions"
### Questions
 the  length of clientId can not bigger than 23 in the default MqttServer
### Version

4.3.5

### Context

when I use MqttServer, the  length of clientId can not bigger than 23

### Do you have a reproducer?

 I hope you can add the config of  MAX_CLIENT_ID_LENGTH  or expose the getMethod of  NetServer instance

[2022-11-15 15:03] mattisonchao commented on #230
@vietj  I can work on it.

[2022-11-15 15:06] mattisonchao commented on #161
@vietj  I will work on it.

[2022-11-25 08:17] #227 closed